@model WebPublico.WebUI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambio de Contraseña";
}


<div class="main">
    <div class="container">
        <br />
        <h2>@ViewBag.Title.</h2>

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            <h4>Complete estos campos</h4>
            <hr/>
            @Html.ValidationSummary("", new {@class = "text-danger"})
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Contraseña <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>

                        </div>
                        <div class="col-xs-6">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password pull-right"></span>
                        </div>

                    </div>
                    @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Nueva Contraseña <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>

                        </div>
                        <div class="col-xs-6">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password pull-right"></span>
                        </div>

                    </div>
                    @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-10">
                            <label>Confirmacion de la nueva Ccontraseña <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>

                        </div>
                        <div class="col-xs-2">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password pull-right"></span>
                        </div>

                    </div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cambiar Contraseña" class="btn btn-primary"/>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}