@using System.Globalization
@using WebPublico.WebUI.Models
@model WebPublico.WebUI.Models.PremioAgendaModelView

@{
    // var premioID = 1; //luego cambiar a variable
    var pID = ViewBag.premioID;


}

@section styles
{
    <link rel="stylesheet" href="~/Content/assets/css/homepages/index-event.css">
    <link href="~/Content/assets/css/timeline.css" rel="stylesheet" />
}
<div class="main">
    <div class="page-header larger parallax custom mb0" style="background-image:url(assets/images/page-header-bg.jpg)">
        <div class="container">
            <h1>Premio Nacional a la Calidad</h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("Index", "Home")">Premio</a></li>
                <li class="active">Premio Nacional a la Calidad</li>
            </ol>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="bg-white border pt65 pb50 mb70">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne2">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                        <b>DATOS GENERALES</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseOne2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne2">
                                <div class="panel-body">
                                    <p style="text-align: justify">
                                        El Gobierno de la República Dominicana, en el interés de lograr una gestión pública más efectiva y transparente,
                                        considera una necesidad la implementación de un sistema que reconozca y promueva la calidad de sus organismos y
                                        la efectividad de los procesos en que se envuelve cada uno de éstos.
                                    </p>

                                    <p style="text-align: justify">
                                        Este objetivo se inscribe dentro de una corriente mundial de orientación hacia la calidad como factor fundamental
                                        para el éxito de las organizaciones. Ya varios países han establecido Premios a la Calidad, como un mecanismo para
                                        implementar modelos de excelencia en la gestión en sus instituciones, tanto públicas como privadas.
                                    </p>

                                    <p style="text-align: justify">
                                        Aplicado al sector público dominicano, el Premio Nacional a la Calidad y el Reconocimiento a las Prácticas Promisorias
                                        del Sector Público, se traducirá en una mejora significativa de los servicios recibidos por los ciudadanos y, como
                                        consecuencia, en un incremento de la calidad de vida de los mismos, si se consideran servicios tan críticos como por
                                        ejemplo la educación y la salud de las grandes mayorías.
                                    </p>
                                    <p style="text-align: justify">
                                        Corresponde al Ministerio de Administración Pública como organismo rector de la función pública, convocar, establecer
                                        el procedimiento y organizar el proceso para la evaluación y el otorgamiento del Premio Nacional a la Calidad y el
                                        Reconocimiento a las Prácticas Promisorias del Sector Público, según lo establece el Decreto 211-10.
                                    </p>
                                    <p style="text-align: justify">
                                        Esta iniciativa busca reconocer el esfuerzo por la mejora continua en la gestión de los organismos públicos y se orienta
                                        a una visión de más largo alcance: elevar el servicio de la administración pública dominicana al nivel de los estándares
                                        de clase mundial.

                                    </p>
                                    <p style="text-align: justify">
                                        Inicialmente esta propuesta consiste en un autodiagnóstico de las organizaciones, que se manifiesta en un importante avance
                                        de toda la gestión pública, pues pone a las instituciones de frente con su realidad y, aunque no postulen al premio,
                                        contarán con una valiosa información acerca de sus fortalezas y oportunidades para iniciar un proceso hacia la mejora continua.

                                    </p>
                                    <p style="text-align: justify">
                                        El MAP espera que este instrumento sirva para afianzar en los funcionarios y servidores públicos en general, el compromiso
                                        de ofrecer, en todas las esferas del gobierno, el servicio de excelencia a que tiene derecho el ciudadano dominicano.

                                    </p>

                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div><!-- End .panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                        <b>OBJETIVOS DEL PREMIO</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                                <div class="panel-body">
                                    <ul>
                                        <li><i class="fa fa-check-square-o"></i> Fomentar la implantación de modelos de gestión de calidad en la administración pública dominicana.</li>
                                        <li><i class="fa fa-check-square-o"></i>	Promover un espacio de intercambio de experiencias y aprendizaje interinstitucional sobre temas de calidad y aplicación del modelo de gestión.</li>

                                        <li><i class="fa fa-check-square-o"></i>	Reconocer públicamente los logros obtenidos en la implantación parcial o total de procesos de calidad en las instituciones públicas.</li>
                                        <li><i class="fa fa-check-square-o"></i>	Destacar y compartir las prácticas sobresalientes que han sido desarrolladas en cualquier ámbito de los organismos del sector público. </li>
                                        <li><i class="fa fa-check-square-o"></i>	Promover la autoevaluación de los organismos públicos, con la utilización del Modelo Marco Común de Evaluación CAF.</li>
                                        <li><i class="fa fa-check-square-o"></i>	Mejorar el desempeño integral de las organizaciones que participan en el Premio Nacional de la Calidad y en el Reconocimiento a Prácticas Promisorias del Sector Público. </li>
                                    </ul>
                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div><!-- End .panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                        <b>ALCANCE</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
                                <div class="panel-body">
                                    <p>

                                        El Premio tiene un alcance nacional, pudiendo postular instituciones de los diferentes sectores centralizados, descentralizados, organismos autónomos, municipales, distritos municipales, provistos de personalidad jurídica de derecho público, titulares de competencia y prerrogativas públicas.
                                    </p>
                                    <p>

                                        No serán aceptadas postulaciones de un área o parte de la estructura de un organismo, exceptuando los casos de unidades desconcentradas, tales como: hospitales, escuelas, fiscalías, los cuales entregan servicios directos a la ciudadanía.
                                    </p>
                                    <p>

                                        La postulación a esta premiación es totalmente gratuita.
                                    </p>

                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div><!-- End .panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
                                        <b>CONDICIONES PARA POSTULAR</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseFour2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour2">
                                <div class="panel-body">
                                    <p>
                                        Los órganos administrativos habilitados a ejercer en nombre de los entes públicos las competencias que se les atribuyen, y que muestren interés en postular no deben haber sido sancionados por ningún Tribunal competente, durante el año de la realización del premio, ni en el anterior, incluyendo procesos en curso. Si la organización ha sido denunciada, y aún no ha concluido el proceso de investigación, puede participar, pero si resultara premiada y la investigación concluye en que la institución debe ser sancionada, el premio será anulado y se hará de conocimiento público.

                                    </p>
                                    <p>

                                        En caso de que el postulante se encuentre involucrado en un conflicto social o comunitario evidenciado, el Comité Organizador del Premio tomara la decisión sobre su participación o no en el Premio.
                                    </p>
                                    <p>

                                        En caso de resultar ganador un organismo dependiente de un Ministerio u otro organismo del primer nivel, el galardón podrá ser recibido por el Director del Organismo individual o a quien este designará.
                                    </p>


                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div><!-- End .panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive2" aria-expanded="false" aria-controls="collapseFive2">
                                        <b>NATURALEZA DE LA PREMIACIÓN</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseFive2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive2">
                                <div class="panel-body">
                                    <p>
                                        El Premio Nacional a la Calidad y Reconocimiento a las Prácticas Promisorias en el Sector Público es un proceso mediante el cual son reconocidas las iniciativas de Gestión de la Calidad en el Estado Dominicano.
                                    </p>
                                    <p>

                                        Dentro del marco del Premio Nacional a la Calidad, también se promueve el Reconocimiento a las Prácticas Promisorias, con el que se busca destacar aquellas iniciativas (proceso, procedimiento, producto o servicio) que han tenido lugar en un ámbito o sector determinado de la organización y que se manifiesta en un incremento en la calidad del servicio ofrecido al ciudadano/ cliente.
                                    </p>


                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div><!-- End .panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix2" aria-expanded="false" aria-controls="collapseSix2">
                                        <b>CRITERIOS DE EVALUACIÓN. MODELO DE CALIDAD DE GESTIÓN</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseSix2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix2">
                                <div class="panel-body">
                                    <p>
                                        Para fines del Premio, el MAP está promoviendo el Marco Común de Evaluación (CAF), modelo utilizado en los países de la Unión Europea como instrumento de evaluación de la gestión en las instituciones públicas.
                                    </p>
                                    <p>

                                        Las razones fundamentales para la adopción de este Modelo en la gestión pública dominicana, son su adecuación a las características de las organizaciones del sector público y su compatibilidad con los principales modelos organizacionales aplicados en otros países del mundo.
                                    </p>


                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div><!-- End .panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSeven2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven2" aria-expanded="false" aria-controls="collapseSeven2">
                                        <b>OTRAS CARACTERÍSTICAS FAVORABLES SON:</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseSeven2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven2">
                                <div class="panel-body">
                                    <ol>
                                        <li>1. Introducir a la Administración Pública en la cultura de la excelencia y de los principios del GCT (Gestión de la Calidad Total, TQM en sus siglas en inglés)</li>
                                        <li>2. Guiarla progresivamente hacia un auténtico ciclo PDCA: Planificar, Desarrollar, Controlar y Actuar. </li>
                                        <li>3. Facilitar la autoevaluación de una organización pública con el fin de obtener un diagnóstico y definir acciones de mejora. </li>
                                        <li>4. Hacer de puente entre los diferentes modelos que se usan en la gestión de la calidad, tanto del sector público como en el privado. </li>
                                        <li>5. Facilitar el benchlearning (aprendizaje tomando como referencia a los mejores) entre las organizaciones del sector público. </li>
                                    </ol>
                                    <br />
                                    <p>
                                        Los criterios considerados en este modelo están basados en los universalmente aceptados como inspiradores de una gestión de excelencia, y han sido validados a nivel internacional como un marco útil y conveniente para encauzar la excelencia en la gestión de las organizaciones.

                                    </p>
                                    <p>
                                        Estos criterios, asociados con los Valores que se persigue reforzar con esta premiación y desplegados ampliamente en el documento “CAF: El Marco Común de Evaluación”, disponible en la página www.map.gob.do, son los siguientes:

                                    </p>

                                    <ul>
                                        <li>1. Liderazgo.</li>
                                        <li>2. Estrategia y planificación.</li>
                                        <li> 3. Personas.</li>
                                        <li>4. Alianzas y recursos.</li>
                                        <li> 5. Procesos. </li>
                                        <li>6. Resultados orientados a los ciudadanos/clientes.</li>
                                        <li>7. Resultados en las personas.</li>
                                        <li>8. Resultados de responsabilidad social.</li>
                                        <li>9. Resultados clave del rendimiento.</li>
                                    </ul>
                                    <br />
                                    <p>
                                        Cada criterio tiene ponderaciones absolutas y se dividen en subcriterios, estos a su vez en áreas específicas de evaluación.  El valor total de la ponderación de los Criterios asciende a 1000 puntos.

                                    </p>
                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->

                        </div><!-- End .panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOcho2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOcho2" aria-expanded="false" aria-controls="collapseOcho2">
                                        <b>COMPROMISO DE POSTULACIÓN</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseOcho2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOcho2">
                                <div class="panel-body">
                                    <ul class="posts-list">
                                        <li style="padding-bottom:10px">

                                            @*<p>Open a PDF file <a href="~/Content/assets/images/MAP/ANEXO-I-COMPROMISO-DE-POSTULACION.pdf">example</a>.</p>*@
                                           <span>Ver</span> <a href="~/Content/assets/images/MAP/ANEXO-I-COMPROMISO-DE-POSTULACION.pdf" target="_blank" class="text-primary">COMPROMISO DE-POSTULACIO</a>

                                                
                                            @*<figure>
            <a href="~/Documentaciones/compromiso-de-postulacion.pdf" title="Compromiso Postulación"><img style="width: 30px" src="~/Content/assets/images/MAP/iconos-png/pdf-png-dwl.png" alt="Post"></a>
        </figure>
        <h5><a href="~/Documentaciones/compromiso-de-postulacion.pdf">Compromiso Postulación</a></h5>*@
                                        </li>
                                    </ul>

                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->

                        </div><!-- End .panel -->

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingNueve">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNueve" aria-expanded="false" aria-controls="collapseNueve">
                                        <b>CÓMO POSTULARSE:</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseNueve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNueve">
                                <div class="panel-body">
                                    <ol>
                                        <li>Registrarse en esta plataforma.</li>
                                        <li>Realizar la autoevaluación.</li>
                                        <li>Redactar la memoria de postulación.</li>
                                        <li>Cumplir con las fechas establecidas en el calendario de la premiación.</li>

                                    </ol>

                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->

                        </div><!-- End .panel -->


                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingDiez">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseDiez" aria-expanded="false" aria-controls="collapseDiez">
                                        <b>EVALUADORES:</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseDiez" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDiez">
                                <div class="panel-body">
                                    <P>
                                        Un evaluador tiene la responsabilidad de valorar las Memorias de Postulación que presentan las instituciones y de elaborar el Informe de Retorno que utilizan los miembros del jurado para seleccionar las organizaciones que serán galardonadas. Pudiendo ser seleccionados de instituciones del sector público, privado y personas independientes con conocimientos de gestión humana, planificación, procesos, calidad, entre otros.


                                    </P>
                                    <p>
                                        Presentando su solicitud al correo premio.calidad@map.gob.do donde se le darán los detalles generales.
                                    </p>

                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->

                        </div><!-- End .panel -->

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOnce">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOnce" aria-expanded="false" aria-controls="collapseOnce">
                                        <b>JURADO:</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseOnce" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOnce">
                                <div class="panel-body">
                                    <p>
                                        El Jurado es un cuerpo colegiado que tiene la responsabilidad de evaluar y seleccionar a las
                                        instituciones merecedoras de los galardones que se otorgan en el Premio Nacional a la Calidad y
                                        Reconocimiento a las Prácticas Promisorias en el sector público, para lo cual dispone de total
                                        autonomía en sus decisiones.

                                    </p>
                                    <p>
                                        Está integrado por personas destacadas en el servicio público a la sociedad, las cuales actúan
                                        en representación de instituciones de carácter público y privado de la República Dominicana,
                                        tales como, organizaciones empresariales, académicas, de la sociedad civil y organismos
                                        públicos, incluidos los municipios.
                                    </p>
                                    <p>
                                        El jurado será designado por la organización que represente.
                                    </p>

                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->

                        </div><!-- End .panel -->

                    </div><!-- End .panel-group -->
                    <hr />

                </div><!-- End .col-md-6 -->



                <div class="clearfix mb25 visible-xs visible-sm"></div><!-- margin -->

                <div class="col-md-4">
                    <div class="about-slider owl-carousel">

                        <img src="~/Content/assets/images/MAP/Estatuillas/Estatuillas/EstatuillaPremioNacional.jpg" alt="Image title">
                        @*<img src="~/Content/assets/images/aboutslider/item2.jpg" alt="Image title">
                            <img src="~/Content/assets/images/aboutslider/item3.jpg" alt="Image title">
                            <img src="~/Content/assets/images/aboutslider/item4.jpg" alt="Image title">*@
                    </div><!-- End. about-slider -->
                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" onclick="verificarPremio()" class="btn btn-success">REGISTRARSE</button>
                </div>
            </div>
        </div><!-- End .container -->

    </div><!-- End .bg-gray -->

    <div class="container">
        <h1 class="title text-center dark mb25">Agenda de actividades @DateTime.Now.Year</h1>
        <div role="tabpanel">

            <embed src="~/Content/assets/images/MAP/Agenda-PNC-2020-V2.pdf" type="application/pdf" width="100%" height="600px">

            <!-- Nav pills -->
            @*<ul class="nav nav-pills nav-pills-gray" role="tablist">
                    <li role="presentation" class="active"><a href="#special-id-1" aria-controls="special-id-1" role="tab" data-toggle="tab">First Day</a></li>

                    <li role="presentation"><a href="#special-id-2" aria-controls="special-id-2" role="tab" data-toggle="tab">Second Day</a></li>

                    <li role="presentation"><a href="#special-id-3" aria-controls="special-id-3" role="tab" data-toggle="tab">Third Day</a></li>
                </ul>*@
            <br />
            <br />
            @*<div class="demo">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-timeline">


                                    @{
                                        int num = 0;
                                        var culture = new System.Globalization.CultureInfo("es-DO");
                                    }
                                    @foreach (var item in ViewBag.eventos)
                                    {
                                        <div class="timeline">
                                            <div class="timeline-content">
                                                <div class="timeline-year"><span>@item.FechaHoraInicio.ToString("MMMM", culture) - @item.FechaHoraFinal.ToString("MMMM", culture)</span></div>
                                                <h5 class="title">@item.Actividad</h5>
                                                <p class="description">
                                                    @item.Descripcion
                                                    <hr />
                                                    @item.FechaHoraInicio.ToString("d", culture) - @item.FechaHoraFinal.ToString("d", culture)
                                                </p>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@


        </div><!-- end role[tabpanel] -->
    </div>

    @*<div class="container">
            <div class="team-carousel-wrapper">
                <h2 class="title custom mb25" style="color: grey">Información Relacionada:</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="text-block">
                            <figure>
                                <img src="~/Content/assets/images/blocks/item1.jpg" alt="Image">
                            </figure>
                            <h2>Proceso de selección de ganadores</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid! Impedit et rem in distin ctio tenetur electus aut deleniti.</p>
                            <a href="@Url.Action("/PremioNacional/Proceso_seleccion")" class="readmore">Leer más <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- End .text-block -->
                    </div><!-- End .col-md-3 -->

                    <div class="col-sm-6 col-md-3">
                        <div class="text-block">
                            <figure>
                                <img src="~/Content/assets/images/blocks/item2.jpg" alt="Image">
                            </figure>
                            <h2>Bases y condiciones </h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid! Impedit et rem in distin ctio tenetur electus aut deleniti.</p>
                            <a href="@Url.Action("/PremioNacional/Bases")" class="readmore dark">Leer más <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- End .text-block -->
                    </div><!-- End .col-md-3 -->

                    <div class="visible-sm clearfix"></div>

                    <div class="col-sm-6 col-md-3">
                        <div class="text-block">
                            <figure>
                                <img src="~/Content/assets/images/blocks/item3.jpg" alt="Image">
                            </figure>
                            <h2>Pasos para inscribirse</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid! Impedit et rem in distin ctio tenetur electus aut deleniti.</p>
                            <a href="@Url.Action("/PremioNacional/Pasos-Inscripcion")" class="readmore custom">Leer más <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- End .text-block -->
                    </div><!-- End .col-md-3 -->

                    <div class="col-sm-6 col-md-3">
                        <div class="text-block">
                            <figure>
                                <img src="~/Content/assets/images/blocks/item4.jpg" alt="Image">
                            </figure>
                            <h2>Calendario</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid! Impedit et rem in distin ctio tenetur electus aut deleniti.</p>
                            <a href="@Url.Action("/PremioNacional/Calendario")" class="readmore custom2">Leer más <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- End .text-block -->
                    </div><!-- End .col-md-3 -->
                </div><!-- End .row -->
            </div><!-- End .team-carousel-wrapper -->
        </div><!-- End .container -->*@

    <div class="mb60"></div><!-- margin -->
    @*<div class="bg-custom border pt40 pb30">
            <div class="container">
                <h2 class="title text-white mb25">Instituciones que han participado</h2>
                <div class="clients-carousel owl-carousel">
                    <a href="#" class="client" title="Partner name">
                        <img src="~/Content/assets/images/clients/client1.png" alt="Partner Logo">
                    </a>
                    <a href="#" class="client" title="Partner name">
                        <img src="~/Content/assets/images/clients/client1.png" alt="Partner Logo">
                    </a>
                    <a href="#" class="client" title="Partner name">
                        <img src="~/Content/assets/images/clients/client1.png" alt="Partner Logo">
                    </a>
                    <a href="#" class="client" title="Partner name">
                        <img src="~/Content/assets/images/clients/client1.png" alt="Partner Logo">
                    </a>
                    <a href="#" class="client" title="Partner name">
                        <img src="~/Content/assets/images/clients/client1.png" alt="Partner Logo">
                    </a>
                    <a href="#" class="client" title="Partner name">
                        <img src="~/Content/assets/images/clients/client1.png" alt="Partner Logo">
                    </a>
                </div><!-- End .clients-carousel -->
            </div><!-- End .container -->
        </div><!-- End .bg-custom -->*@
</div><!-- End .main -->

<div class="modal fade" id="registrarse-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
    <form id="#" method="get" action="#">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel4">Elija el perfil que desea crear</h3>
                </div><!-- End .modal-header -->
                <div class="modal-body">

                    <div class="row">
                        @{

                            if (Model.Postularse)
                            {
                                <div class="col-sm-3">
                                    <a href="@Url.Action("Register", "Account", new{perfil = "postulante", premioID = Model.PremioID})">
                                        <div class="service service-box">
                                            <i class="fa fa-user icon-bg"></i>
                                            <h3 class="service-title">Postulante</h3>
                                            <p>Representante de la instiución participante</p>
                                        </div>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-3">
                                    <a href="@Url.Action("Register", "Account", new{perfil = "postulante", premioID = Model.PremioID})">
                                        <div class="service service-box">
                                            <i class="fa fa-user icon-bg"></i>
                                            <h3 class="service-title">Postulante</h3>
                                            <p>Representante de la instiución participante</p>
                                            @*<p>La fecha para la inscripci&oacute;n de postulaciones ya se ha cumplido!</p>*@
                                        </div>
                                    </a>
                                </div>
                            }

                        }

                        <div class="col-sm-3">
                            <a href="@Url.Action("Register", "Account", new{perfil = "evaluador", premioID = Model.PremioID})">
                                <div class="service service-box">
                                    <i class="fa fa-pencil icon-bg"></i>
                                    <h3 class="service-title">Evaluador</h3>
                                    <p>Colaborador en la evaluacion de postulantes</p>
                                </div><!-- End .service -->
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="@Url.Action("Register", "Account", new{perfil = "jurado", premioID = Model.PremioID})">
                                <div class="service service-box">
                                    <i class="fa fa-black-tie icon-bg"></i>
                                    <h3 class="service-title">Jurado</h3>
                                    <p>Quién determina el ganador del premio</p>
                                </div><!-- End .service -->
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="@Url.Action("Register", "Account", new{perfil = "secretaria", premioID = Model.PremioID})">
                                <div class="service service-box">
                                    <i class="fa fa-file-text icon-bg"></i>
                                    <h3 class="service-title">Secretaria del jurado</h3>
                                    <p>Asiste y da soporte a los miembros del jurado</p>
                                </div><!-- End .service -->
                            </a>
                        </div>
                    </div>
                    <div class="row">



                    </div>

                </div><!-- End .modal-body -->

            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </form>
</div><!-- End .modal -->

@section scripts{


    <script src="~/Content/assets/sweetalert2.all.min.js"></script>

    <script>
        function verificarPremio(premioID, pID) {

            $('#registrarse-modal').modal('show');

            //console.log()
            //if (premioID === pID) {
            //    Swal.fire({
            //        type: "error",
            //        title: "Elija Otra Premiación",
            //        html: "Ya tiene un rol asignado a este premio"
            //    });
            //} else {
            //    $('#registrarse-modal').modal('show');
            //}
        }
    </script>
}