
@{
    var premio = ViewBag.premio; //Cambiar por la variable
}

<div class="main">
    <div class="page-header larger parallax custom mb0" style="background-image:url(assets/images/page-header-bg.jpg)">
        <div class="container">
            <h1>Premio Institucional a las Mejores Prácticas</h1>
            <ol class="breadcrumb">
                <li><a href="/Home/Index">Inicio</a></li>
                <li><a href="/Home/Index">Premio</a></li>
                <li class="active">Premio Institucional a las Mejores Prácticas</li>
            </ol>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="bg-white border pt65 pb50 mb70">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Información:</h2>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                        <b>DATOS GENERALES</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseOne2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne2">
                                <div class="panel-body">
                                    <p style="text-align: justify">
                                        Las Autoridades del Ministerio de Administración Pública manifestaron su intención en implementar el Premio Institucional a las Mejores Prácticas dirigido a las áreas que conforman el MAP, con el interés de impregnar en la gestión del organismo efectividad, eficiencia y transparencia, promoviendo la utilización de herramientas que permitan elevar los niveles de gestión, el logro de los objetivos y la satisfacción de los clientes internos y externos de cada unidad.
                                    </p>
                                    <p style="text-align: justify">
                                        Dando pleno cumplimiento al numeral 1 del artículo 8 de la Ley 41-08, de Función Pública que expresa que este organismo tiene dentro de sus atribuciones “propiciar y garantizar el más alto nivel de efectividad, calidad y eficiencia de la función pública del estado, y asignar el respeto de los derechos de los servicios públicos en el marco de dicha ley”.
                                    </p>
                                    <p style="text-align: justify">
                                        El mismo debería estar sustentado en un autodiagnóstico con bases en el Modelo Marco Común de Evaluación (CAF), herramienta diseñada expresamente para el diagnóstico de organismos estatales.
                                    </p>

                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div><!-- End .panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                        <b>OBJETIVOS DEL PREMIO</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                                <div class="panel-body">
                                    <ul>
                                        <li><i class="fa fa-check-square-o"></i> Concientizar a las distintas unidades del MAP en los beneficios de la utilización de modelos y herramientas de gestión de calidad para la mejora continua de la gestión.</li>
                                        <hr />
                                        <li><i class="fa fa-check-square-o"></i> Reconocer las iniciativas de mejora de los procesos, que se traduzcan en mejoras en los servicios que el MAP ofrece a los ciudadanos.</li>
                                        <hr />

                                        <li><i class="fa fa-check-square-o"></i> Promover un espacio de intercambio de experiencias y aprendizaje institucional sobre temas de calidad y aplicación del modelo de gestión, Marco Común de Evaluación (CAF).</li>
                                        <hr />
                                        <li><i class="fa fa-check-square-o"></i> Propiciar un espacio de crecimiento institucional que promueva un ambiente de trabajo en equipo como base para el logro de los objetivos estratégicos definidos.  </li>
                                        <hr />
                                        <li><i class="fa fa-check-square-o"></i> Compartir y transferir a toda la organización las prácticas sobresalientes que han sido desarrolladas en cualquier ámbito del MAP.</li>
                                        <hr />
                                    </ul>
                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div><!-- End .panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                        <b>ALCANCE</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
                                <div class="panel-body">
                                    <p>

                                        Pueden participar todas las áreas del MAP con excepción de la Dirección de Gestión de Calidad, la cual deberá fungir como apoyo y asesora a las áreas postulantes.


                                    </p>


                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div><!-- End .panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
                                        <b>CONDICIONES PARA POSTULAR</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseFour2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour2">
                                <div class="panel-body">
                                    <p style="text-align: justify">
                                        Todas las áreas del MAP deben postular mediante la realización de un autodiagnóstico con el Modelo CAF (utilizando la Guía), que les permitirá determinar sus puntos fuertes y áreas de mejora, un breve relatorio respecto al desarrollo de los criterios y subcriterios según el documento “Pautas para redactar la memoria de postulación”.
                                    </p>
                                    <p style="text-align: justify">
                                        Cuando el área haya desarrollado alguna buena práctica que le hubiese permitido llevar un proceso, procedimiento o actividad de un estadío de la calidad a otro superior y pueda exhibir una situación anterior y una posterior mejorada, tras la implementación de esa práctica; debe destacarla en el relatorio que acompaña el autodiagnóstico.
                                    </p>
                                    <p style="text-align: justify">
                                        Esta buena práctica debe haber implicado alguno o varios de los siguientes elementos:
                                    </p>
                                    <ul style="padding: 10px;">
                                        <li style="text-align: justify"><i class="fa fa-check"></i> Innovación y mejora de la organización, en la gestión de los procesos, en la incorporación de medios tecnológicos.</li>
                                        <li style="text-align: justify"><i class="fa fa-check"></i>En la simplificación de trámites y normalización de documentos, tiempos de respuesta, tramitación, impresos, proyectos de diseño y mejora de los canales de comunicación interna de solicitudes, acuerdos y normas, atención y gestión de reclamaciones, entre otros.</li>
                                    </ul>
                                    <br />
                                    <p style="text-align: justify">
                                        Su implantación debe haber incidido positivamente en la consecución de nuevos modelos de gestión impulsados desde la transparencia, la información y la simplificación de los procedimientos a los usuarios de los servicios, un aprovechamiento más racional de los recursos humanos existentes y una mejora permanente  en el empleo y en el desarrollo profesional.
                                    </p>
                                    <p style="text-align: justify">
                                        Además debe haber hecho alguna contribución a la mejora continua mediante la identificación de variables e indicadores que permitan el seguimiento de su eficacia y de mayor satisfacción de los usuarios e impulsar el compromiso individual y colectivo con la productividad para la mejora de la calidad de los servicios ofertados.
                                    </p>
                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div><!-- End .panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive2" aria-expanded="false" aria-controls="collapseFive2">
                                        <b>NATURALEZA DE LA PREMIACIÓN</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseFive2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive2">
                                <div class="panel-body">
                                    <p style="text-align: justify">
                                        El Premio Institucional a las Mejores Prácticas es un proceso mediante el cual son reconocidas las iniciativas de Gestión de las unidades que componene el Ministerio de Administración Pública.
                                    </p>
                                    <p style="text-align: justify">

                                        Todas las áreas del MAP deben postular mediante la realización de un autodiagnóstico con el Modelo CAF (utilizando la Guía), que les permitirá determinar sus puntos fuertes y áreas de mejora, un breve relatorio respecto al desarrollo de los criterios y subcriterios según el documento “Pautas para redactar la memoria de postulación”.
                                    </p>


                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div><!-- End .panel -->
                        @*<div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix2" aria-expanded="false" aria-controls="collapseSix2">
                                        <b>CRITERIOS DE EVALUACIÓN. MODELO DE CALIDAD DE GESTIÓN</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseSix2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix2">
                                <div class="panel-body">
                                    <p>
                                        Para fines del Premio, el MAP está promoviendo el Marco Común de Evaluación (CAF), modelo utilizado en los países de la Unión Europea como instrumento de evaluación de la gestión en las instituciones públicas.
                                    </p>
                                    <p>

                                        Las razones fundamentales para la adopción de este Modelo en la gestión pública dominicana, son su adecuación a las características de las organizaciones del sector público y su compatibilidad con los principales modelos organizacionales aplicados en otros países del mundo.
                                    </p>


                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div>*@<!-- End .panel -->
                        @*<div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSeven2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven2" aria-expanded="false" aria-controls="collapseSeven2">
                                        <b>OTRAS CARACTERÍSTICAS FAVORABLES SON:</b>
                                    </a>
                                </h4>
                            </div><!-- End .panel-heading -->
                            <div id="collapseSeven2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven2">
                                <div class="panel-body">
                                    <ol>
                                        <li>1. Introducir a la Administración Pública en la cultura de la excelencia y de los principios del GCT (Gestión de la Calidad Total, TQM en sus siglas en inglés)</li>
                                        <li>2. Guiarla progresivamente hacia un auténtico ciclo PDCA: Planificar, Desarrollar, Controlar y Actuar. </li>
                                        <li>3. Facilitar la autoevaluación de una organización pública con el fin de obtener un diagnóstico y definir acciones de mejora. </li>
                                        <li>4. Hacer de puente entre los diferentes modelos que se usan en la gestión de la calidad, tanto del sector público como en el privado. </li>
                                        <li>5. Facilitar el benchlearning (aprendizaje tomando como referencia a los mejores) entre las organizaciones del sector público. </li>
                                    </ol>

                                </div><!-- End .panel-body -->
                            </div><!-- End .panel-collapse -->
                        </div>*@<!-- End .panel -->
                    </div><!-- End .panel-group -->
                    <hr />
                    @*<p style="text-align: justify">
                        Los criterios considerados en este modelo están basados en los universalmente aceptados como inspiradores de una gestión de excelencia, y han sido validados a nivel internacional como un marco útil y conveniente para encauzar la excelencia en la gestión de las organizaciones.

                    </p>
                    <p style="text-align: justify">
                        Estos criterios, asociados con los Valores que se persigue reforzar con esta premiación y desplegados ampliamente en el documento “CAF: El Marco Común de Evaluación”, disponible en la página www.map.gob.do, son los siguientes:

                    </p>

                    <ul>
                        <li>1. Liderazgo.</li>
                        <li>2. Estrategia y planificación.</li>
                        <li> 3. Personas.</li>
                        <li>4. Alianzas y recursos.</li>
                        <li> 5. Procesos. </li>
                        <li>6. Resultados orientados a los ciudadanos/clientes.</li>
                        <li>7. Resultados en las personas.</li>
                        <li>8. Resultados de responsabilidad social.</li>
                        <li>9. Resultados clave del rendimiento.</li>
                    </ul>
                    <br />
                    <p style="text-align: justify">
                        Cada criterio tiene ponderaciones absolutas y se dividen en subcriterios, estos a su vez en áreas específicas de evaluación.  El valor total de la ponderación de los Criterios asciende a 1000 puntos.

                    </p>*@

                    <hr />
                </div><!-- End .col-md-6 -->



                <div class="clearfix mb25 visible-xs visible-sm"></div><!-- margin -->

                <div class="col-md-4">
                    <div class="about-slider owl-carousel">

                        <img src="~/Content/assets/images/MAP/Estatuillas/Estatuillas/Estatuilla_Premio_Institucional.JPG" alt="Image title">
                        @*<img src="~/Content/assets/images/aboutslider/item2.jpg" alt="Image title">
                            <img src="~/Content/assets/images/aboutslider/item3.jpg" alt="Image title">
                            <img src="~/Content/assets/images/aboutslider/item4.jpg" alt="Image title">*@
                    </div><!-- End. about-slider -->
                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
            <div class="row">
                <div class="col-sm-6">
                    <a href="" data-toggle="modal" data-target="#registrarse-modal" class="btn btn-success">REGISTRARSE</a>
                </div>

            </div>

        </div><!-- End .container -->
    </div><!-- End .bg-gray -->
    @*<div class="container">
            <div class="team-carousel-wrapper">
                <h2 class="title custom mb25" style="color: grey">Información Relacionada:</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="text-block">
                            <figure>
                                <img src="~/Content/assets/images/blocks/item1.jpg" alt="Image">
                            </figure>
                            <h2>Proceso de selección de ganadores</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid! Impedit et rem in distin ctio tenetur electus aut deleniti.</p>
                            <a href="@Url.Action("/PremioNacional/Proceso_seleccion")" class="readmore">Leer más <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- End .text-block -->
                    </div><!-- End .col-md-3 -->

                    <div class="col-sm-6 col-md-3">
                        <div class="text-block">
                            <figure>
                                <img src="~/Content/assets/images/blocks/item2.jpg" alt="Image">
                            </figure>
                            <h2>Bases y condiciones </h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid! Impedit et rem in distin ctio tenetur electus aut deleniti.</p>
                            <a href="@Url.Action("/PremioNacional/Bases")" class="readmore dark">Leer más <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- End .text-block -->
                    </div><!-- End .col-md-3 -->

                    <div class="visible-sm clearfix"></div>

                    <div class="col-sm-6 col-md-3">
                        <div class="text-block">
                            <figure>
                                <img src="~/Content/assets/images/blocks/item3.jpg" alt="Image">
                            </figure>
                            <h2>Pasos para inscribirse</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid! Impedit et rem in distin ctio tenetur electus aut deleniti.</p>
                            <a href="@Url.Action("/PremioNacional/Pasos-Inscripcion")" class="readmore custom">Leer más <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- End .text-block -->
                    </div><!-- End .col-md-3 -->

                    <div class="col-sm-6 col-md-3">
                        <div class="text-block">
                            <figure>
                                <img src="~/Content/assets/images/blocks/item4.jpg" alt="Image">
                            </figure>
                            <h2>Calendario</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto debitis nemo ipsa iure aliquid! Impedit et rem in distin ctio tenetur electus aut deleniti.</p>
                            <a href="@Url.Action("/PremioNacional/Calendario")" class="readmore custom2">Leer más <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- End .text-block -->
                    </div><!-- End .col-md-3 -->
                </div><!-- End .row -->
            </div><!-- End .team-carousel-wrapper -->
        </div><!-- End .container -->*@

    <div class="mb60"></div><!-- margin -->
    @*<div class="bg-custom border pt40 pb30">
            <div class="container">
                <h2 class="title text-white mb25">Instituciones que han participado</h2>
                <div class="clients-carousel owl-carousel">
                    <a href="#" class="client" title="Partner name">
                        <img src="~/Content/assets/images/clients/client1.png" alt="Partner Logo">
                    </a>
                    <a href="#" class="client" title="Partner name">
                        <img src="~/Content/assets/images/clients/client1.png" alt="Partner Logo">
                    </a>
                    <a href="#" class="client" title="Partner name">
                        <img src="~/Content/assets/images/clients/client1.png" alt="Partner Logo">
                    </a>
                    <a href="#" class="client" title="Partner name">
                        <img src="~/Content/assets/images/clients/client1.png" alt="Partner Logo">
                    </a>
                    <a href="#" class="client" title="Partner name">
                        <img src="~/Content/assets/images/clients/client1.png" alt="Partner Logo">
                    </a>
                    <a href="#" class="client" title="Partner name">
                        <img src="~/Content/assets/images/clients/client1.png" alt="Partner Logo">
                    </a>
                </div><!-- End .clients-carousel -->
            </div><!-- End .container -->
        </div><!-- End .bg-custom -->*@
</div><!-- End .main -->

<div class="modal fade" id="registrarse-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
    <form id="#" method="get" action="#">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel4">Elija el perfil que desea crear</h3>
                </div><!-- End .modal-header -->
                <div class="modal-body">

                    <div class="row">

                        <div class="col-sm-3">
                            <a href="@Url.Action("Register", "Account", new{perfil = "postulante", premioID = premio})">
                                <div class="service service-box">
                                    <i class="fa fa-user icon-bg"></i>
                                    <h3 class="service-title">Postulante</h3>
                                    <p>Representante de la unidad</p>
                                </div><!-- End .service -->
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="@Url.Action("Register", "Account", new{perfil = "evaluador", premioID = premio})">
                                <div class="service service-box">
                                    <i class="fa fa-pencil icon-bg"></i>
                                    <h3 class="service-title">Evaluador</h3>
                                    <p>Colaborador en la evaluaci&oacute;n de participantes</p>
                                </div><!-- End .service -->
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="@Url.Action("Register", "Account", new{perfil = "jurado", premioID = premio})">
                                <div class="service service-box">
                                    <i class="fa fa-black-tie icon-bg"></i>
                                    <h3 class="service-title">Jurado</h3>
                                    <p>Miembro de la Comisi&oacute;n Evaluadora, qui&eacute;n determina el ganador del premio</p>
                                </div><!-- End .service -->
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="@Url.Action("Register", "Account", new{perfil = "secretaria", premioID = premio})">
                                <div class="service service-box">
                                    <i class="fa fa-file-text icon-bg"></i>
                                    <h3 class="service-title">Secretaria del jurado</h3>
                                    <p>Asiste y da soporte a los miembros del jurado</p>
                                </div><!-- End .service -->
                            </a>
                        </div>
                    </div>
                    <div class="row">



                    </div>

                </div><!-- End .modal-body -->

            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </form>
</div><!-- End .modal -->
