
@using System.Globalization
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ProyectoCalidad.Domain.Concrete
@using ProyectoCalidad.Domain.Entities
@using ProyectoCalidad.WebUI.Models
@using ApplicationUser = ProyectoCalidad.Domain.Entities.ApplicationUser
@model IEnumerable<ProyectoCalidad.Domain.Entities.InstitucionPostulante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var organismo = ViewBag.organismo;
    CultureInfo es = new CultureInfo("es-DO");

    Equipos equipo = ViewBag.equipo;

    Mensajes mensaje = ViewBag.mensaje;

    List<PuntuacionTotalPorInstitucion> pt = null;

    if (ViewBag.puntuacionTotal != null)
    {
        pt = ViewBag.puntuacionTotal;
    }


    var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new EFDbContext()));
    var user = userManager.FindById(User.Identity.GetUserId());
    EvaluadorPremio evaluador = null;
    if (ViewBag != null)
    {
        evaluador = ViewBag.evaluador;

    }



}

@section Style{
    <link href="~/css/Button-Informe.css" rel="stylesheet" />

    <!-- DataTables -->
    <link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/fixedHeader.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/scroller.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/dataTables.colVis.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/fixedColumns.dataTables.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/plugins/tooltipster/tooltipster.bundle.min.css">

    <!-- Plugins css-->
    <link href="~/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
}


<div class="container">



    <div class="row">
        <div class="col-xs-12">
            <div class="page-title-box">
                <h4 class="page-title">Puntuación por Evaluador</h4>
                <ol class="breadcrumb p-0 m-0">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Inicio</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Account")">Postulantes</a>
                    </li>
                    <li class="active">
                        Instituciones Postulantes
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- end row -->

    @if (Model != null)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box table-responsive">
                    @*<h4 class="m-t-0 header-title"><b>Buttons example</b></h4>
                        <p class="text-muted font-13 m-b-30">
                            The Buttons extension for DataTables provides a common set of options, API methods and
                            styling to display buttons on a page that will interact with a DataTable. The core
                            library provides the based framework upon which plug-ins can built.
                        </p>*@


                    @{
                        var tituloTabla = "";
                        var idDataTable = "";
                        if (user.Role != "EVALUADOR-EXTERNO")
                        {
                            tituloTabla = "Exportar tabla:";
                            idDataTable = "datatable-buttons";
                        }
                        else
                        {
                            tituloTabla = "";
                            idDataTable = "datatable";
                        }
                    }

                    <h4>@tituloTabla</h4>
                    <table id="@idDataTable" class="table table-striped  table-colored table-info">
                        <thead>
                            <tr>
                                @*@if (User.IsInRole("ADMIN") || User.IsInRole("COORDINADOR-COMITE-INTERNO"))
                                    {
                                        <th>Perfíl</th>
                                    }*@

                                <th style="width: 205px">Institución</th>
                                @if (user.Role == "EVALUADOR-EXTERNO")
                                {
                                    <th style="width: 302px;">Premio</th>

                                    <th>Equipo</th>
                                    <th>Rol</th>
                                }
                                @if (user.Role == "ADMIN")
                                {
                                    <th style="width: 302px;">Premio</th>

                                    <th>Fecha Inscripción</th>
                                    <th>Estado Actual</th>
                                }

                                @if (user.Role == "JURADO")
                                {
                                    <th>
                                        Puntuación Total
                                    </th>
                                }


                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*@if (User.IsInRole("ADMIN") || User.IsInRole("COORDINADOR-COMITE-INTERNO"))
                                        {
                                            <td>
                                                <a href="@Url.Action("Perfil", "InstitucionPostulante", new {InstitucionPostulanteID = item.InstitucionPostulanteID})" class="table-action-btn h3 " data-toggle="tooltip" data-placement="top" title data-original-title="Procesar" style="padding-right: 10px"><i class="mdi mdi-eye-settings" style="color:#0069b0"></i></a>

                                            </td>
                                        }*@

                                    @foreach (var o in organismo)
                                    {
                                        if (o.OrganismoID == item.InstitucionID)
                                        {
                                            <td>
                                                @o.Nombre
                                            </td>
                                        }

                                    }


                                    @if (user.Role == "EVALUADOR-EXTERNO")
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Premio.Descripcion)
                                        </td>
                                        <td>
                                            @equipo.Nombre - @equipo.Descripcion
                                        </td>
                                        if (evaluador.IsManager)
                                        {
                                            <td>
                                                COORDINADOR EVALUADOR EXTERNO
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                EVALUADOR EXTERNO
                                            </td>
                                        }
                                    }

                                    @if (user.Role == "ADMIN")
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Premio.Descripcion)
                                        </td>
                                        <td>
                                            @item.FechaCreacion.ToString("g", es)
                                        </td>
                                        <td >
                                            <label>@item.Estado</label>
                                        </td>


                                    }

                                    @if (user.Role == "JURADO")
                                    {

                                        foreach (var p in pt)
                                        {
                                            if (p != null)
                                            {
                                                if (p.IpID == item.InstitucionPostulanteID)
                                                {
                                                    <td> @p.Total </td>
                                                }
                                               
                                            }

                                        }

                                    }


                                    <td>
                                        @*@if (User.IsInRole("EVALUADOR-INTERNO") || User.IsInRole("EVALUADOR-EXTERNO") || User.IsInRole("COMITE-EVALUADOR-EXTERNO"))
                                            {
                                                <a href="@Url.Action("IndexPorEquipo", "Evaluador", new {id = item.InstitucionPostulanteID})" class="table-action-btn h3 " style="padding-right: 10px"><i class="mdi mdi-book-open-page-variant"></i></a>

                                            }*@


                                        
                                        <a class="btn btn-primary" href="@Url.Action("PuntuacionPorEvaluador", "Reportes", new {institucionId = item.InstitucionPostulanteID, premioID = item.PremioID})"><i class="mdi mdi-book-open"></i> Puntuación </a>



                                        <div id="informe-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content p-0 b-0">
                                                    <div class="panel panel-color panel-primary">
                                                        <div class="panel-heading">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h3 class="panel-title">Remisión del Informe de Retorno</h3>
                                                        </div>
                                                        <div class="panel-body">

                                                            @using (Html.BeginForm("GuardarInformeRetorno", "InstitucionPostulante", FormMethod.Post, new
                                                            {
                                                                role = "form",
                                                                enctype = "multipart/form-data",
                                                                id = "formularioRegistro"
                                                            }))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                                //@Html.Hidden("premioID", premio);
                                                                @Html.Hidden("InstitucionPostulanteID", item.InstitucionPostulanteID)
                                                                <div class="row">
                                                                    <input type="file" name="InformeRetorno" value="" />
                                                                </div>
                                                                @*<div class="col-sm-12" id="evidenciaDocumento1" style="margin-top: 22px;">
                                                                    <div class="input-container">

                                                                        <input class="form-control FilUploader custom-file-input" type="file" id="eDocumento1" class="filestyle" data-buttonText="Find file" name="InformeRetorno" value="" required="">

                                                                        <button type="button" class="browse-btn-1" style="width: 140px;">
                                                                            Seleccionar Documento
                                                                        </button>

                                                                        <span class="file-info1">...</span>

                                                                    </div>
                                                                    @*<input class="form-control" type="hidden" class="filestyle" data-buttonText="Find file" name="tipoDocumento" value="3">*@

                                                                @*</div>*@
                                                                <hr />

                                                                <div class="form-group mb5">
                                                                    <input type="submit" id="submit" class="btn btn-custom min-width" value="Subir Documento">
                                                                </div><!-- End .from-group -->

                                                            }


                                                        </div>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                        @*<input type="checkbox" id="switch4" data-switch="success" checked="">
                                            <label style="margin: 5px 0 0 0;" for="switch4" data-on-label="Yes" data-off-label="No"></label>*@



                                        <div id="consenso-pre-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content p-0 b-0">
                                                    <div class="panel panel-color panel-primary">
                                                        <div class="panel-heading">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h3 class="panel-title">Remisión del Informe de Retorno</h3>
                                                        </div>
                                                        <div class="panel-body">

                                                            @using (Html.BeginForm("GuardarInformeRetorno", "InstitucionPostulante", FormMethod.Post, new
                                                            {
                                                                role = "form",
                                                                enctype = "multipart/form-data",
                                                                id = "formularioRegistro"
                                                            }))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                                //@Html.Hidden("premioID", premio);
                                                                @Html.Hidden("InstitucionPostulanteID", item.InstitucionPostulanteID)
                                                                <div class="row">
                                                                    <input type="file" name="InformeRetorno" value="" />
                                                                </div>
                                                                @*<div class="col-sm-12" id="evidenciaDocumento1" style="margin-top: 22px;">
                                                                    <div class="input-container">

                                                                        <input class="form-control FilUploader custom-file-input" type="file" id="eDocumento1" class="filestyle" data-buttonText="Find file" name="InformeRetorno" value="" required="">

                                                                        <button type="button" class="browse-btn-1" style="width: 140px;">
                                                                            Seleccionar Documento
                                                                        </button>

                                                                        <span class="file-info1">...</span>

                                                                    </div>
                                                                    @*<input class="form-control" type="hidden" class="filestyle" data-buttonText="Find file" name="tipoDocumento" value="3">*@

                                                                @*</div>*@
                                                                <hr />

                                                                <div class="form-group mb5">
                                                                    <input type="submit" id="submit" class="btn btn-custom min-width" value="Subir Documento">
                                                                </div><!-- End .from-group -->

                                                            }


                                                        </div>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                        @*<input type="checkbox" id="switch4" data-switch="success" checked="">
                                            <label style="margin: 5px 0 0 0;" for="switch4" data-on-label="Yes" data-off-label="No"></label>*@

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }



    <!-- end row -->
    @*<div class="row">


        @{
            foreach (var item in Model)
            {
                <div class="col-md-6">
                    <div class="property-card property-horizontal">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="property-image" style="background: url('/images/properties/1.jpg') center center / cover no-repeat;">
                                    <span class="property-label label label-danger">Activo</span>
                                </div>
                            </div>
                            <!-- /col 4 -->
                            <div class="col-sm-8">
                                <div class="property-content">
                                    <div class="listingInfo">
                                        <div class="">
                                            <h4 class="text-success m-t-0">@item.PremioID</h4>
                                        </div>
                                        <div class="">
                                            <h3><a href="#" class="text-dark">@item.InstitucionNombre</a></h3>
                                            <p class="text-muted"><i class="mdi mdi-map-marker-radius m-r-5"></i>@item.Premio.Descripcion</p>

                                            <p class="font-13 text-muted m-b-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit Aliquam gravida magna et fringilla convallis. Pellentesque habitant morb</p>
                                        </div>
                                    </div>
                                    <div class="property-action">
                                        @*<a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="280 square feet"><i class="mdi mdi-view-grid"></i><span>280</span></a>
                                            <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="4 Bedroom House"><i class="mdi mdi-hotel"></i><span>4</span></a>
                                            <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="2 Parking space"><i class="mdi mdi-car"></i><span>2</span></a>
                                            <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="24h Electricity"><i class="mdi mdi-battery-charging-80"></i><span> 24H</span></a>*@
    @* <div class="pull-right">
                                                <a href="@Url.Action("Perfil", "InstitucionPostulante", new{id = item.InstitucionPostulanteID})" class="btn btn-default"><i class="fa fa-eye"></i><span>ver</span></a>
                                            </div>
                                        </div>
                                        <!-- end. Card actions -->
                                    </div>
                                </div>
                                <!-- /col 8 -->
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br />

                    </div>
                }
            }

            <!-- /inner row -->
        </div>*@



</div>


@section scripts{
    @*<script src="~/plugins/tooltipster/tooltipster.bundle.min.js"></script>
        <script src="~/Scripts/pages/jquery.tooltipster.js"></script>*@
    <script src="~/Scripts/js/Button-Informe.js"></script>

    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/plugins/datatables/jszip.min.js"></script>
    <script src="~/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="~/plugins/datatables/dataTables.scroller.min.js"></script>
    <script src="~/plugins/datatables/dataTables.colVis.js"></script>
    <script src="~/plugins/datatables/dataTables.fixedColumns.min.js"></script>

    <script src="~/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <script src="~/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script src="~/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
    <script src="~/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/plugins/sweetalert2.all.min.js"></script>
    <script src="~/plugins/autocomplete/jquery.mockjax.js"></script>
    <script src="~/plugins/autocomplete/jquery.autocomplete.min.js"></script>
    <script src="~/plugins/autocomplete/countries.js"></script>

    <!-- init -->
    <script src="~/Scripts/pages/jquery.datatables.init.js"></script>
    <script>

        function consensuar(id, pID) {

            var url = '@Url.Action("Consensuar", "EquipoEvaluador")';


            var url = url + "/" + id + "?premioID=" + pID;



            Swal.fire({
                title: 'Está seguro?',
                text: "Una vez apruebe el consenso, la fase preliminar no podrá ser editada, desea completarla?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function(data) {
                            if (data === "True") {
                                Swal.fire(
                                    'Proceso Completado',
                                    'La fase preliminar ha sido competada',
                                    'success'
                                );
                            } else {
                                Swal.fire(
                                    'Proceso Incompleto',
                                    'no se pudo completar la operación, por favor vuelva a intentarlo, o ponganse en contacto con la coordinación del premio.',
                                    'error'
                                );
                            }
                        }
                    });
                }
            });
        }

        function revertirConsensuar(id, pID) {

            var url = '@Url.Action("RevertirConsensuar", "EquipoEvaluador")';


            var url = url + "/" + id + "?premioID=" + pID;



            Swal.fire({
                title: 'Está seguro?',
                text: "Esta opción activará los botones para modificar las puntucaciones, desea continuar?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function(data) {
                            if (data === "True") {
                                Swal.fire(
                                    'Proceso Revertido',
                                    'Los coordinadores pueden reevaluar sus puntuaciones',
                                    'success'
                                );
                            } else {
                                Swal.fire(
                                    'Proceso Incompleto',
                                    'no se pudo completar la operación, por favor vuelva a intentarlo, o ponganse en contacto con la coordinación del premio.',
                                    'error'
                                );
                            }
                        }
                    });
                }
            });
        }


        $(document).ready(function () {

            if("@mensaje.tipo".length > 0) {
                Swal.fire({
                    title: "@mensaje.mensaje",
                    html: "@mensaje.texto",
                    type: "@mensaje.tipo"
                });
            }

            //BOTONES FILES
            $("#memorias").change(function () {
                filename = this.files[0].name;
                console.log(filename);

                $("#filename").html(filename);
            });

            // Tooltips Initialization


            $('#datatable').dataTable({

            });

            $('#datatable-keytable').DataTable({ keys: true });
            $('#datatable-responsive').DataTable();
            $('#datatable-colvid').DataTable({
                "dom": 'C<"clear">lfrtip',
                "colVis": {
                    "buttonText": "Change columns"
                }
            });
            $('#datatable-scroller').DataTable({
                ajax: "~/plugins/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({ fixedHeader: true });
            var table = $('#datatable-fixed-col').DataTable({
                scrollY: "300px",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                fixedColumns: {
                    leftColumns: 1,
                    rightColumns: 1
                }
            });
        });
        TableManageButtons.init();

    </script>
}
