@model  ProyectoCalidad.Domain.Entities.Criterio

@{
                /**/

                ViewBag.Title = "Editar Criterio";
}

<h2>&nbsp;<span class="glyphicon glyphicon-edit"></span>&nbsp;Editar Criterio</h2>
<hr />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span>&nbsp;Datos del Criterio - <strong>@Model.Nombre</strong></h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("EditarCriterio", "Criterios", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
        {
            @Html.HiddenFor(x => x.CriterioID)


            @Html.ValidationSummary(true)


            <div class="form-group">
                <label class="col-md-3 control-label">Guia</label>
                <div class="col-md-9">
                    @Html.DropDownList("GuiaID", null, new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                <label for="Codigo" class="col-md-3 control-label">Código</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(x => x.Codigo, new { @class = "form-control", @placeholder = "Codigo del Criterio." })
                    @Html.ValidationMessageFor(x => x.Codigo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="Codigo" class="col-md-3 control-label">Nombre</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(x => x.Codigo, new { @class = "form-control", @placeholder = "Codigo del Criterio." })
                    @Html.ValidationMessageFor(x => x.Codigo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="Nombre" class="col-md-3 control-label">Nombre</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @placeholder = "Nombre del Criterio." })
                    @Html.ValidationMessageFor(x => x.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="Descripcion" class="col-md-3 control-label">Descripci&oacute;n</label>
                <div class="col-md-9">
                    @*@Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control", @placeholder = "Descripción del Criterio." })*@
                    @Html.TextAreaFor(model => model.Descripcion, 4, 55, new { @class = "form-control", @placeholder = "Descripción del Criterio.", maxlength = 500 })
                    @Html.ValidationMessageFor(x => x.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="Ponderacion" class="col-md-3 control-label">Ponderaci&oacute;n</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(x => x.Ponderacion, new { @class = "form-control", @placeholder = "Ponderacion." })
                    @Html.ValidationMessageFor(x => x.Ponderacion, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-3 control-label">Estado</label>
                <div class="col-md-9">
                    @Html.CheckBoxFor(m => m.Estado, new { data_plugin = "switchery", data_olor = "#9261c6", data_secondary_color = "#ff7aa3" })

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-info">Registrar datos</button>
                    @Html.ActionLink("Cancelar registro", "Index", null, new { @class = "btn btn-warning" })
                </div>
            </div>
        }
    </div>
        </div>

@section sideMenu
{  
    <ul class="nav navbar-nav navbar-left">
        <li>
            <button class="button-menu-mobile open-left waves-effect waves-light">
                <i class="mdi mdi-menu"></i>
            </button>
        </li>      
        <li class="hidden-xs">@Html.ActionLink("Regresar a Criterios", "Index", null, new { @class = "menu-item waves-effect waves-light" })</li>
        <li class="hidden-xs">@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "menu-item waves-effect waves-light" })</li>        
    </ul>
}