@model ProyectoCalidad.Domain.Entities.ApplicationUser

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Register";

    var mensaje = ViewBag.mensaje;
    var premio = ViewBag.premio;


    var roles = ViewBag.roles.Count;

    
    List<SelectListItem> sector = new List<SelectListItem>();
    sector.Add(new SelectListItem
    {
        Text = "Privado",
        Value = "Privado"
    });
    sector.Add(new SelectListItem
    {
        Text = "Público",
        Value = "Público"
    });

}


@section style{
    <link href="~/Content/assets/css/select2.min.css" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">
}

<div class="main">
    <div class="page-header larger parallax custom" style="background-image:url(assets/images/page-header-bg.jpg)">
        <div class="container">
            <h1>Perfíl</h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="javascript:history.back()">Cuenta</a></li>
                <li class="active">Perfíl</li>
            </ol>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <div class="container">
        @using (Html.BeginForm("EditUsuario", "Account", new { premioID = premio }, FormMethod.Post, new
        {
            role = "form",
            enctype = "multipart/form-data",
            id = "formularioRegistro"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.Id)


            <h1 class="title mb30" style="font-family: 'Oswald';">@Model.Nombre @Model.Apellido</h1>

            <div id="formulario">

                @*<p class="">En caso de no encontrar la institución que busca use este botón para registrarla</p>*@
                @if (ViewBag.perfil == "postulante" && ViewBag.roles.Count <= 1)
                {
                    @Html.Hidden("Role", "POSTULANTE")
                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label>
                                Institución Postulante
                            </label>
                            @Html.DropDownList("OrganismoID", null, "Seleccione el organismo al que pertenece", new { @id = "selUser", @class = "form-control", @placeholder = "Seleccione un organismos" })
                        </div>
                    </div>

                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label>
                                Tipo de perfíl Acual
                            </label>
                            @Html.TextBoxFor(m => m.Role, null, new { @class = "form-control", disabled = "disabled" })
                        </div><!-- End .radio -->
                    </div>
                }
                @if (ViewBag.perfil != "postulante" && ViewBag.roles.Count <= 1)
                {
                    @Html.Hidden("Role", "EVALUADOR-EXTERNO")

                    <div class="row">
                        <div class="col-sm-4 ">
                            <div class="form-group">
                                <label>
                                    Tipo de Perfíl Actual
                                </label>
                                @Html.TextBoxFor(m => m.Role, null, new { @class = "form-control", disabled = "disabled" })
                            </div><!-- End .radio -->
                        </div>

                        <div class="col-sm-4 ">
                            <label> Currículum de evaluador  <i style="color:#ce8a8a" class="fa fa-asterisk"></i></label>
                            <input id="cv" type="file" name="curriculum" class="btn btn-primary" placeholder="Currículum" title="Es obligatorio subir su currículum">
                            @Html.ValidationMessageFor(model => model.cv, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-4 ">
                            <label> Código ético  <i style="color:#ce8a8a" class="fa fa-asterisk"></i></label>
                            <input id="compromiso" type="file" name="etico" class="btn btn-primary" placeholder="Compromiso" title="Es obligatorio subir su currículum">
                            @Html.ValidationMessageFor(model => model.cv, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Contact form trigger -->
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <div class="">
                                <div class="checkbox checkbox-primary checkbox-single">
                                    @*<input type="checkbox" id="IsEmpleado" name="IsEmpleado" aria-label="Single checkbox Two">*@
                                    @Html.CheckBoxFor(m => m.IsEmpleado, new { @class = "", style = "margin-left: 0;" })

                                    @*@Html.CheckBox("IsNew", new { id = "singleCheckbox2", aria_label="Single checkbox Two" })*@
                                    <label>Está laborando actualmente?</label>
                                </div>
                            </div>

                        </div><!-- End .col-sm-6 -->

                        <div class="col-sm-3 ">
                            <div class="form-group">
                                <label>Sector de la Institución <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                                @Html.DropDownListFor(model => model.SectorTrabajo, sector, "-- Seleccione el sector --", new { @class = "form-control", disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.SectorTrabajo, "", new { @class = "text-danger" })
                            </div><!-- End .from-group -->
                        </div><!-- End .col-sm-6 -->
                        <div class="col-sm-3 ">
                            <div class="form-group">
                                <label>Nombre de la Instituci&oacute;n <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                                @Html.TextBoxFor(m => m.LugarTrabajo, new { @class = "form-control", @placeholder = "Nombre del lugar donde trabaja", disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                            </div><!-- End .from-group -->
                        </div><!-- End .col-sm-6 -->
                        <div class="col-sm-3 ">
                            <div class="form-group">
                                <label>Cargo que ocupa <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                                @Html.TextBoxFor(m => m.Cargo, new { @class = "form-control", @placeholder = "ej: Supervisor de Piso", disabled = "disabled" })
                                @*@Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })*@
                            </div><!-- End .from-group -->
                        </div><!-- End .col-sm-6 -->
                        <!--Fin-->
                    </div>
                }
                @if (ViewBag.perfil != "postulante" && ViewBag.roles.Count > 1)
                {
                    <div class="row">
                        <div class="col-sm-4 ">
                            <ul>
                                @foreach (var role in ViewBag.roles)
                                {
                                    <li>@role</li>
                                }
                            </ul>

                        </div>

                        <div class="col-sm-4 ">
                            <label> Currículum de evaluador  <i style="color:#ce8a8a" class="fa fa-asterisk"></i></label>
                            <input id="cv" type="file" name="uploads" class="btn btn-primary" placeholder="Currículum" required="" title="Es obligatorio subir su currículum">
                            @Html.ValidationMessageFor(model => model.cv, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-4 ">
                            <label> Código ético  <i style="color:#ce8a8a" class="fa fa-asterisk"></i></label>
                            <input id="compromiso" type="file" name="uploads" class="btn btn-primary" placeholder="Compromiso" required="" title="Es obligatorio subir su currículum">
                            @Html.ValidationMessageFor(model => model.cv, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Contact form trigger -->
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <div class="">
                                <div class="checkbox checkbox-primary checkbox-single">
                                    @*<input type="checkbox" id="IsEmpleado" name="IsEmpleado" aria-label="Single checkbox Two">*@
                                    @Html.CheckBoxFor(m => m.IsEmpleado, new { @class = "", style = "margin-left: 0;" })

                                    @*@Html.CheckBox("IsNew", new { id = "singleCheckbox2", aria_label="Single checkbox Two" })*@
                                    <label>Está laborando actualmente?</label>
                                </div>
                            </div>

                        </div><!-- End .col-sm-6 -->

                        <div class="col-sm-3 ">
                            <div class="form-group">
                                <label>Sector de la Institución <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                                @Html.DropDownListFor(model => model.SectorTrabajo, sector, "-- Seleccione el sector --", new { @class = "form-control", disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.SectorTrabajo, "", new { @class = "text-danger" })
                            </div><!-- End .from-group -->
                        </div><!-- End .col-sm-6 -->
                        <div class="col-sm-3 ">
                            <div class="form-group">
                                <label>Nombre de la Instituci&oacute;n <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                                @Html.TextBoxFor(m => m.LugarTrabajo, new { @class = "form-control", @placeholder = "Nombre del lugar donde trabaja", disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                            </div><!-- End .from-group -->
                        </div><!-- End .col-sm-6 -->
                        <div class="col-sm-3 ">
                            <div class="form-group">
                                <label>Cargo que ocupa <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                                @Html.TextBoxFor(m => m.Cargo, new { @class = "form-control", @placeholder = "ej: Supervisor de Piso", disabled = "disabled" })
                                @*@Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })*@
                            </div><!-- End .from-group -->
                        </div><!-- End .col-sm-6 -->
                        <!--Fin-->
                    </div>
                }

                @if (ViewBag.perfil == "postulante" && ViewBag.roles.Count > 1)
                {
                    @Html.Hidden("Role", "POSTULANTE")
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label>
                                    Institución Postulante
                                </label>
                                @Html.DropDownList("OrganismoID", null, "Seleccione el organismo al que pertenece", new { @id = "selUser", @class = "form-control", @placeholder = "Seleccione un organismos" })
                            </div>
                        </div>

                        <div class="col-sm-6 ">
                            <ul>
                                @foreach (var role in ViewBag.roles)
                                {
                                    <li>@role</li>
                                }
                            </ul>
                        </div>


                    </div>
                    <!-- Contact form trigger -->
                }


                <div class="row">
                    <div class="col-sm-4 ">
                        <div class="form-group">
                            <label>Nombre(s)  <i style="color:#ce8a8a" class="fa fa-asterisk"></i></label>
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @placeholder = "Nombre(s)" })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-4 ">
                        <div class="form-group">
                            <label>Apellido(s) <i style="color:#ce8a8a" class="fa fa-asterisk"></i></label>
                            @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control", @placeholder = "Apellido(s)" })
                            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-4 ">
                        <div class="form-group">
                            <label>Cargo en la institución  <i style="color:#ce8a8a" class="fa fa-asterisk"></i></label>
                            @Html.TextBoxFor(m => m.Cargo, new { @class = "form-control", @placeholder = "ej: Supervisor de Piso" })
                            @*@Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })*@
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                    

                </div><!-- End .row -->

                <div class="row">

                    <div class="col-sm-6 ">

                        <div class="form-group">
                            <label>Número de Cédula</label> <i style="color: #ce8a8a" class="fa fa-asterisk"></i>
                            @Html.TextBoxFor(m => m.NumeroDocumentoIdentidad, new { @class = "form-control", @placeholder = "001-00000000-0" })
                            @Html.ValidationMessageFor(model => model.NumeroDocumentoIdentidad, "", new { @class = "text-danger" })
                            @*@Html.ValidationMessageFor(x => x.NumeroDocumentoIdentidad, "", new { @class = "text-danger" })*@
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label>Correo Electrónico <i style="color:#ce8a8a" class="fa fa-asterisk"></i></label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "ej: Supervisor de Piso", required = "" })
                            @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                </div><!-- End .row -->

                <div class="row">

                    <div class="col-sm-4 ">
                        <div class="form-group">
                            <label>Teléfono</label>
                            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", @placeholder = "Número de Teléfono" })
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-4 ">
                        <div class="form-group">
                            <label>Teléfono Secundario</label>
                            @Html.TextBoxFor(m => m.TelefonoSecundario, new { @class = "form-control", @placeholder = "Número de Extension" })
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                    <div class="col-sm-4 ">
                        <div class="form-group">
                            <label>N&uacute;mero de Extensi&oacute;n</label>
                            @Html.TextBoxFor(m => m.Extension, new { @class = "form-control", @placeholder = "Número de Extension" })
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                </div>

                <div class="mb10"></div><!-- space -->
                @if (ViewBag.perfil == "postulante")
                {
                    if (Model.IsCoordinador)
                    {
                        <div class="form-group mb25" id="coordinador">
                            <div class="checkbox">
                                <label class="custom-checkbox-wrapper">
                                    <span class="custom-checkbox-container">
                                        <input type="checkbox" value="true" name="IsCoordinador" checked="">
                                        <span class="custom-checkbox-icon"></span>
                                    </span>
                                    <span>Soy el Coordinador del equipo de evaluadores internos </span>
                                </label>
                            </div>
                        </div>
                    }
                    else
                    {

                        if (ViewBag.coordinador)
                        {
                            <div class="form-group mb25" id="coordinador">
                                <div class="checkbox">
                                    <label class="custom-checkbox-wrapper">
                                        <span>Miembro del Equipo</span>
                                    </label>
                                </div><!-- End .checkbox -->
                            </div><!-- End .form-group -->
                        }
                        else
                        {
                            <div class="form-group mb25" id="coordinador">
                                <div class="checkbox">
                                    <label class="custom-checkbox-wrapper">
                                        <span class="custom-checkbox-container">
                                            <input type="checkbox" value="true" name="IsCoordinador">
                                            <span class="custom-checkbox-icon"></span>
                                        </span>
                                        <span>Soy el Coordinador del equipo de evaluadores internos </span>
                                    </label>
                                </div>
                            </div>
                        }
                    }


                }


                <div class="form-group mb5">
                    <input type="submit" id="submit" class="btn btn-custom min-width" value="Guardar Cambios">
                    <a href="javascript:history.back()" class="btn btn-default min-width" value="Crear Usuario"> Cancelar </a>

                </div><!-- End .from-group -->
            </div>
        }
    </div><!-- End .container -->
</div>
<!-- Modal -->
<!-- Modal Contact Form-->


@section Scripts {


    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.inputmask.bundle.js"></script>


    <script src="~/Content/assets/sweetalert2.all.min.js"></script>
    <script src="~/Content/assets/js/select2.min.js"></script>


    @*<script src="/sgp/Content/assets/js/jquery.min.js"></script>
        <script src="/sgp/Content/assets/js/jquery.inputmask.bundle.js"></script>


        <script src="/sgp/Content/assets/sweetalert2.all.min.js"></script>
        <script src="/sgp/Content/assets/js/select2.min.js"></script>*@

    <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->


    <script src="~/Content/assets/js/bootstrap-filestyle.min.js"></script>


    <script>
        $('input[required]').on('invalid', function () {
            this.setCustomValidity($(this).data("required-message"));
        });
    </script>

    <script type="text/javascript">
        var spinnerVisible = false;
        function showProgress() {
            s
            if (!spinnerVisible) {
                $("div#spinner").fadeIn("fast");
                spinnerVisible = true;
            }
        };
        function hideProgress() {
            if (spinnerVisible) {
                var spinner = $("div#spinner");
                spinner.stop();
                spinner.fadeOut("fast");
                spinnerVisible = false;
            }
        };
    </script>

    <script>

        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $("#toggle-password");
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $(".toggle-confirm-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $("#toggle-confirm-password");
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        //VALIDACIÓN DE USUARIOS Y DE COORDINADOR

        $('#selUser').on('change',
            function () {
                var valor = $('#selUser').val();
                $.ajax({
                    type: "GET",
                    url: "/sgp/Account/InstitucionTieneCoordinador?OrganismoID=" + valor,
                    contentType: "html",
                    success: function (response) {

                        if (response.cantidad === 3) {
                            Swal.fire({
                                title: "Equipo Completo!",
                                text: "Lo sentimos, esta institución tiene su equipo completo",
                                type: "warning",
                                confirmButtonText: 'De Acuerdo'
                            });
                            Swal.fire({
                                title: 'Equipo Completo!',
                                text: "Lo sentimos, esta institución tiene su equipo completo",
                                type: 'warning',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'De acuerdo'
                            }).then((result) => {
                                if (result.value) {
                                    location.reload();
                                }
                            });
                        } else {

                            $("#submit").prop("disabled", false);


                            if (response.HasCoordinado) {

                                $("#coordinador").attr("style", "display:none");

                            } else {
                                $("#coordinador").removeAttr("style", "display:none");
                            }
                        }




                    }
                });
            });

        $('#sector').on('change', function () {
            var valor = $('#sector').val();
            console.log(valor);

            if (valor === "Educativo") {
                $("#ClasificacionSectorEducativo").removeAttr("style", "display:none");
                $("#ClasificacionSectorSalud").attr("style", "display:none");


                $('input:radio[name="ClasificacionSectorEducativo"]').change(
                    function () {
                        let valor = $(this).val();
                        console.log(valor);
                        //EDUCACION
                        if (valor === "Dirección Regional") {
                            //MOSTRAR
                            $("#listaDireccion").attr("style", "display:none;");

                            //OCULTAR
                            $("#ListaDistrito").attr("style", "display:none");
                            $("#codigoCentroEducativo").attr("style", "display:none");
                        }
                        if (valor === "Distrito Educativo") {
                            //MOSTRAR
                            $("#listaDireccion").removeAttr("style", "display:none");
                            $("#ListaDistrito").attr("style", "display:none");

                            //OCULTAR
                            $("#codigoCentroEducativo").attr("style", "display:none");
                        }
                        if (valor === "Centro Educativo") {
                            //MOSTRAR
                            $("#listaDireccion").removeAttr("style", "display:none");
                            $("#ListaDistrito").removeAttr("style", "display:none");
                            $("#codigoCentroEducativo").removeAttr("style", "display:none");

                            //OCULTAR
                        }
                    });

            } else if (valor === "Salud") {
                $("#ClasificacionSectorSalud").removeAttr("style", "display:none");
                $("#ClasificacionSectorEducativo").attr("style", "display:none");


                $('input:radio[name="ClasificacionSectorSalud"]').change(
                    function () {
                        let valor = $(this).val();
                        console.log(valor);
                        //SALUD
                        //if (valor === "SRS") {
                        //    console.log(valor);
                        //    //MOSTRAR
                        //    $("#ListaRegion").removeAttr("style", "display:none");

                        //    //OCULTAR
                        //    $("#ListaDps").attr("style", "display:none");
                        //    $("#codigoCentroSalud").attr("style", "display:none");
                        //}
                        if (valor === "DPS") {
                            console.log(valor);
                            $("#ListaRegion").removeAttr("style", "display:none");
                            $("#ListaDps").removeAttr("style", "display:none");

                            //OCULTAR
                            $("#codigoCentroSalud").attr("style", "display:none");
                        }
                        if (valor === "Otros") {
                            console.log(valor);
                            $("#ListaRegion").removeAttr("style", "display:none");
                            $("#ListaDps").removeAttr("style", "display:none");
                            $("#codigoCentroSalud").removeAttr("style", "display:none");

                            //OCULTAR

                        }
                    });

            } else {
                $("#ClasificacionSectorEducativo").attr("style", "display:none");
                $("#ClasificacionSectorSalud").attr("style", "display:none");
            }
        });
        //$("input").on("click",
        //    function () {
        //        var valor = $("input:checked");
        //        valor = valor[1].id;
        //        //EDUCACION
        //        if (valor === "direccion") {
        //            //MOSTRAR
        //            $("#listaDireccion").removeAttr("style", "display:none;");

        //            //OCULTAR
        //            $("#ListaDistrito").attr("style", "display:none");
        //            $("#codigoCentroEducativo").attr("style", "display:none");
        //        }
        //        if (valor === "distrito") {
        //            //MOSTRAR
        //            $("#listaDireccion").removeAttr("style", "display:none");
        //            $("#ListaDistrito").removeAttr("style", "display:none");

        //            //OCULTAR
        //            $("#codigoCentroEducativo").attr("style", "display:none");
        //        }
        //        if (valor === "centro") {
        //            //MOSTRAR
        //            $("#listaDireccion").removeAttr("style", "display:none");
        //            $("#ListaDistrito").removeAttr("style", "display:none");
        //            $("#codigoCentroEducativo").removeAttr("style", "display:none");

        //            //OCULTAR
        //        }
        //        //SALUD
        //        if (valor === "SRS") {
        //            console.log(valor);
        //            //MOSTRAR
        //            $("#ListaRegion").removeAttr("style", "display:none");

        //            //OCULTAR
        //            $("#ListaDps").attr("style", "display:none");
        //            $("#codigoCentroSalud").attr("style", "display:none");
        //        }
        //        if (valor === "DPS") {
        //            console.log(valor);
        //            $("#ListaRegion").removeAttr("style", "display:none");
        //            $("#ListaDps").removeAttr("style", "display:none");

        //            //OCULTAR
        //            $("#codigoCentroSalud").attr("style", "display:none");
        //        }
        //        if (valor === "Otros") {
        //            console.log(valor);
        //            $("#ListaRegion").removeAttr("style", "display:none");
        //            $("#ListaDps").removeAttr("style", "display:none");
        //            $("#codigoCentroSalud").removeAttr("style", "display:none");

        //            //OCULTAR

        //        }
        //    });


    </script>
    <script>
        $("#cv").filestyle({ buttonText: "Curriculum" });
        $("#compromiso").filestyle({ buttonText: "Curriculum" });

        $(document).ready(function () {

            if ($("#IsEmpleado").is(':checked')) {
                console.log($("#IsEmpleado"));

                $("#SectorTrabajo").prop('disabled', false); // checked
                $("#LugarTrabajo").prop('disabled', false); // checked
                $("#Cargo").prop('disabled', false); // checked

            }

            $("#IsEmpleado").change(function () {
                if ($(this).is(':checked')) {
                    console.log($("#IsEmpleado"));

                    $("#SectorTrabajo").prop('disabled', false); // checked
                    $("#LugarTrabajo").prop('disabled', false); // checked
                    $("#Cargo").prop('disabled', false); // checked

                } else {
                    $("#SectorTrabajo").prop('disabled', true); // checked
                    $("#LugarTrabajo").prop('disabled', true); // checked
                    $("#Cargo").prop('disabled', true); // checked
                    console.log($("#IsEmpleado"));

                }
            });

            //MENSJAES
                //editUsuario
                if ('@mensaje.tipo'.length > 0) {
                    Swal.fire({
                        type: '@mensaje.tipo',
                        title: '@mensaje.mensaje',
                        html: '@mensaje.texto'
                    });
                }
                //-->end

            if ('@TempData["mensaje"]' === "success") {
                Swal.fire({
                    type: 'success',
                    title: 'Actualización de usuario',
                    html: '@TempData["texto"]'
                });
            }

            if ('@TempData["mensaje"]' === "error") {
                Swal.fire({
                    type: 'error',
                    title: 'Actualización de usuario',
                    html: '@TempData["texto"]'
                });
            }

            //--> END

            //var value = $("#cv").value();
            $("#cv").change(function () {
                var val = $("#cv").val();
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            if ('@TempData["mensaje"]' === 'existe') {
                Swal.fire({
                    type: 'error',
                    title: 'Ya Existe!',
                    html: '@TempData["texto"]'
                });
            }

            if ('@TempData["mensaje"]' === 'guardado') {
                Swal.fire({
                    position: 'top',
                    type: 'success',
                    title: 'Nueva Institución Creada',
                    showConfirmButton: true
                });
            }

            if ('@TempData["mensaje"]' === 'institucionNoExiste') {
                Swal.fire({
                    type: 'error',
                    title: 'No Existe!',
                    html: '@TempData["texto"]'
                });
            }



            $("#Telefono").inputmask("(999) 999-9999");
            $("#TelefonoSecundario").inputmask("9999");
            $("#TelefonoOrganismo2").inputmask("(999) 999-9999");
            $("#TelefonoOrganismo1").inputmask("(999) 999-9999");

            $("#NumeroDocumentoIdentidad").inputmask("999-9999999-9");
            $("#RNC").inputmask("999-999999-9");
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            // Initialize select2
            $("#selUser").select2();

        });

        var mensajeRegister = '@ViewBag.mensajeRegister';//viene desde el controlador registro
        if (mensajeRegister) {
            Swal.fire(
                'Archivo Incorrecto',
                'El tipo de archivo que intenta subir no es válido pruebe usando: .pdf, .doc. docx',
                'Gracias'
            );
        }

        function success(data) {
            Swal.fire({
                position: 'top-end',
                type: 'success',
                title: 'Registro completo',
                showConfirmButton: false,
                timer: 1000
            });
        }

        function failure() {
            Swal.fire({
                type: 'error',
                title: 'Registro invalido',
                text: 'revise que haya completado todos los campos',
                footer: 'si persiste, comuniquese con el MAP'
            });
        }

        function complete() {
            $("#InstitucionNombre").attr("style", "display=none");
        }

        function valor(elem) {
            if (elem === "Postulante") {
                $("#postulante").removeAttr("style=display: none");
            } else {
                $("#postulante").attr("style=display: none");
            }
        }

        function confirmCV() {
            var cv = $("#cv").val();

            if (cv === "") {
                Swal.fire({
                    type: 'error',
                    title: 'Campo Vacío',
                    text: 'Debe seleccionar su curriculum para continuar con el proceso'
                });
            }
        }

        function confirmCompromiso() {
            var cv = $("#compromiso").val();

            if (cv === "") {
                Swal.fire({
                    type: 'error',
                    title: 'Campo Vacío',
                    text: 'Debe seleccionar su curriculum para continuar con el proceso'
                });
            }
        }

        function confirmEmail() {


            var email = document.getElementById("Email").value;

            var confemail = document.getElementById("confemail").value;

            if (email !== confemail) {
                document.getElementById("confemail").value = "";
                document.getElementById("Email").value = "";

                Swal.fire({
                    title: "Hubo un error!",
                    text: "Verifque que los correos electrónicos sean iguales",
                    type: "error",
                    confirmButtonText: 'De Acuerdo'
                });



            }
        }

        function confirmPwd() {


            var pwd = document.getElementById("Password").value;
            var cpwd = document.getElementById("ConfirmPassword").value;

            console.log(pwd);

        }
    </script>
    <script>
        //MUNICIPIOS
        $("#ProvinciaID").change(function () {
            var provinciaId = $(this).val();
            debugger;
            console.log("provinciaID", provinciaId);
            $.ajax({
                type: "post",
                url: "/sgp/Account/GetMunicipioList?provinciaId=" + provinciaId,
                contentType: "html",
                success: function (response) {
                    $("#MunicipioID").empty();
                    $("#MunicipioID").append(response);
                }
            });
        });

        //DISTRITOS
        $("#DireccionRegionalID").change(function () {
            var DireccionRegionalID = $(this).val();
            debugger;
            console.log("DireccionRegionalID", DireccionRegionalID);
            $.ajax({
                type: "post",
                url: "/sgp/Account/GetDistritosEducativosList?DireccionRegionalID=" + DireccionRegionalID,
                contentType: "html",
                success: function (response) {
                    $("#DistritoEducativoID").empty();
                    $("#DistritoEducativoID").append(response);
                }
            });
        });

        //DPS
        $("#SRSID").change(function () {
            var SRSID = $(this).val();
            debugger;
            console.log("SRSID", SRSID);
            $.ajax({
                type: "post",
                url: "/sgp/Account/GetDPSList?SRSID=" + SRSID,
                contentType: "html",
                success: function (response) {
                    $("#DPSID").empty();
                    $("#DPSID").append(response);
                }
            });
        });

    </script>
}


