
@{
    ViewBag.Title = "RegistroEvaludor";
}

@using Microsoft.AspNet.Identity

@model WebPublico.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro de Cuenta";
    var perfil = ViewBag.perfil;
    var mensaje = ViewBag.mensaje;
    var userExists = ViewBag.exists;
    ProyectoCalidad.Domain.Entities.Premio premio = ViewBag.premio;
    int premioId = premio.PremioID;

    if (premio.TipoPremio.Siglas == "PIMP")
    {
        ViewBag.titulo = "Unidad Postulante";
    }
    else
    {
        ViewBag.titulo = "Institución Postulante";
    }

    List<SelectListItem> sector = new List<SelectListItem>();
    sector.Add(new SelectListItem
    {
        Text = "Privado",
        Value = "Privado"
    });
    sector.Add(new SelectListItem
    {
        Text = "Público",
        Value = "Público"
    });

}


@section style{
    <link href="~/Content/assets/css/select2.min.css" rel='stylesheet' type='text/css'>
    <link href="~/Content/Button-evaluadores.css" rel="stylesheet" />

}

<div class="main">
    <div class="page-header larger parallax custom" style="background-image:url(~/Content/assets/images/page-header-bg.jpg)">
        <div class="container">
            <h1>Registro</h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Cuenta</a></li>
                <li class="active">Registro</li>
            </ol>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <div class="container">
        @using (Html.BeginForm("Register", "Account", new { premioID = premio.PremioID }, FormMethod.Post, new
        {
            role = "form",
            enctype = "multipart/form-data",
            id = "formularioRegistro"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("premioID", premioId);
            @Html.Hidden("Role", "JURADO")


            <h2 class="mb30">Registro de cuenta de usuario: <u>Miembro del jurado</u></h2>
            @*<div class="row">

                        <div class="col-sm-12 ">
                            <div class="form-group">
                                <label>
                                    Tipo de Perfíl
                                </label>
                                @Html.DropDownList("Role", null, new { @class = "form-control" })
                            </div>
                        </div>
                </div>*@

            <div id="formulario">
                <br />
                <label> Género <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                <div class="row">

                    <div class="col-sm-4 ">
                        <div class="radio">
                            <label class="custom-radio-wrapper">
                                <span class="custom-radio-container" style="padding: 8px; margin: 0;">
                                    @Html.RadioButtonFor(m => m.Genero, "Masculino", new { id = "masculino" })
                                    @*<input type="radio" name="Genero" value="Masculino">*@
                                    <span class="custom-radio-icon"></span>
                                </span>
                                <span>Masculino</span>
                            </label>
                            <label class="custom-radio-wrapper">
                                <span class="custom-radio-container" style="padding: 8px;margin: 0 0 0 50px;">
                                    @*<input type="radio" name="Genero" value="Femenino">*@
                                    @Html.RadioButtonFor(m => m.Genero, "Femenino", new { id = "femenino" })

                                    <span class="custom-radio-icon"></span>
                                </span>
                                <span>Femenino</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4" id="evidenciaDocumento1" style="margin-top: 22px;">
                        <div class="input-container">

                            <input class="form-control FilUploader custom-file-input" type="file" id="eDocumento1" class="filestyle" data-buttonText="Find file" name="curriculum" value="">

                            <button type="button" class="browse-btn-1" style="width: 140px;">
                                Currículum
                            </button>

                            <span class="file-info1">...</span>

                        </div>
                        @*<input class="form-control" type="hidden" class="filestyle" data-buttonText="Find file" name="tipoDocumento" value="3">*@

                    </div>

                    @*<div class="col-sm-4 ">
                            <label> Currículum de evaluadores <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                            <input id="cv" type="file" name="curriculum" class="btn btn-primary" placeholder="Currículum" title="Es obligatorio subir su currículum">
                            @Html.ValidationMessageFor(model => model.cv, "", new { @class = "text-danger" })
                        </div>*@
                    
                    <div class="col-sm-4" id="evidenciaDocumento2" style="margin-top: 22px;">
                        <div class="input-container">

                            <input class="form-control FilUploader custom-file-input" type="file" id="eDocumento2" class="filestyle" data-buttonText="Find file" name="etico" value="">

                            <button type="button" class="browse-btn-2" style="width: 140px;">
                                Código Ético
                            </button>

                            <span class="file-info2">...</span>

                        </div>
                        @*<input class="form-control" type="hidden" class="filestyle" data-buttonText="Find file" name="tipoDocumento" value="3">*@

                    </div>
                    @*<div class="col-sm-4 ">
                        <label> Currículum de evaluador <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                        <input id="cv" type="file" name="curriculum" class="btn btn-primary" placeholder="Currículum" title="Es obligatorio subir su currículum">
                        @Html.ValidationMessageFor(model => model.cv, "", new { @class = "text-danger" })
                    </div>*@
                </div>
                <br />
                @*<p class="">En caso de no encontrar la institución que busca use este botón para registrarla</p>*@


                <div class="row">

                    <div class="col-sm-4 ">
                        <div class="form-group">
                            <label>Número de Cédula</label> <i style="color: #ce8a8a" class="fa fa-asterisk"></i>
                            @Html.TextBoxFor(m => m.NumeroDocumentoIdentidad, new { @class = "form-control", @placeholder = "001-00000000-0" })
                            @Html.ValidationMessageFor(model => model.NumeroDocumentoIdentidad, "", new { @class = "text-danger" })
                            @*@Html.ValidationMessageFor(x => x.NumeroDocumentoIdentidad, "", new { @class = "text-danger" })*@
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                    <div class="col-sm-4 ">
                        <div class="form-group">
                            <label>Nombre(s) <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @placeholder = "Nombre" })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                    <div class="col-sm-4 ">
                        <div class="form-group">
                            <label>Apellido(s) <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                            @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control", @placeholder = "Apellido" })
                            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->

                </div><!-- End .row -->
                <!--Datos laborales-->
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <div class="">
                            <div class="checkbox checkbox-primary checkbox-single">
                                @*<input type="checkbox" id="IsEmpleado" name="IsEmpleado" aria-label="Single checkbox Two">*@
                                @Html.CheckBoxFor(m => m.IsEmpleado, new { @class = "", style = "margin-left: 0;" })

                                @*@Html.CheckBox("IsNew", new { id = "singleCheckbox2", aria_label="Single checkbox Two" })*@
                                <label>Está laborando actualmente?</label>
                            </div>
                        </div>

                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-3 ">
                        <div class="form-group">
                            <label>Sector de la Institución </label>
                            @Html.DropDownListFor(model => model.SectorTrabajo, sector, "-- Seleccione el sector --", new { @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.SectorTrabajo, "", new { @class = "text-danger" })
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                    <div class="col-sm-3 ">
                        <div class="form-group">
                            <label>Nombre de la Instituci&oacute;n </label>
                            @Html.TextBoxFor(m => m.LugarTrabajo, new { @class = "form-control", @placeholder = "Nombre del lugar donde trabaja", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                    <div class="col-sm-3 ">
                        <div class="form-group">
                            <label>Cargo que ocupa </label>
                            @Html.TextBoxFor(m => m.Cargo, new { @class = "form-control", @placeholder = "ej: Supervisor de Piso", disabled = "disabled" })
                            @*@Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })*@
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                    <!--Fin-->
                </div>


                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label>Correo Electrónico <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Correo Electrónico", @required = "required" })
                            @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label>Confirmación Correo Electrónico</label>
                            <input type="text" id="confemail" class="form-control" placeholder="Confirmación de correo" onblur="confirmEmail()">
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                </div><!-- End .row -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Contraseña <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>

                                </div>
                                <div class="col-xs-6">
                                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password pull-right"></span>
                                </div>

                            </div>

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Abcd-451", id = "toggle-password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-xs-10">
                                <label>Confirmación de Contraseña <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>

                            </div>
                            <div class="col-xs-2">
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-confirm-password pull-right"></span>
                            </div>

                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "confirmar", @onblur = "confirmPwd()", id = "toggle-confirm-password" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label>Teléfono</label>
                            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", @placeholder = "Número de Teléfono" })
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label>Teléfono Secundario</label>
                            @Html.TextBoxFor(m => m.TelefonoSecundario, new { @class = "form-control", @placeholder = "Número de Teléfono" })


                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                </div>

                <div class="mb10"></div><!-- space -->
                @if (!ViewBag.existePresidente)
                {
                    <div class="form-group mb0">
                        <div class="checkbox">
                            <label class="custom-checkbox-wrapper" style="background-color: #84d835; padding: 10px;">
                                <span class="custom-checkbox-container">
                                    <input type="checkbox" value="true" name="Presidente">
                                    <span class="custom-checkbox-icon"></span>
                                </span>
                                <span>Soy el presidente del comité de jurados.</span>
                                @Html.ValidationMessageFor(model => model.Presidente, "", new { @class = "text-danger" })
                            </label>
                        </div><!-- End .checkbox -->
                    </div><!-- End .form-group -->
                }
                
                <div class="form-group mb0">
                    <div class="checkbox">
                        <label class="custom-checkbox-wrapper">
                            <span class="custom-checkbox-container">
                                <input type="checkbox" value="true" name="PoliticaPrivacidad">
                                <span class="custom-checkbox-icon"></span>
                            </span>
                            <span>He leído y estoy de acuerdo con la <a target="_blank" href="https://map.gob.do/politicas-de-privacidad/">Política de Privacidad</a>.</span>
                            @Html.ValidationMessageFor(model => model.PoliticaPrivacidad, "", new { @class = "text-danger" })
                        </label>
                    </div><!-- End .checkbox -->
                </div><!-- End .form-group -->

                <div class="form-group mb25">
                    <div class="checkbox">
                        <label class="custom-checkbox-wrapper">
                            <span class="custom-checkbox-container">
                                <input type="checkbox" value="true" name="PoliticaUso">
                                <span class="custom-checkbox-icon"></span>
                            </span>
                            <span>He leído y estoy de acuerdo con los <a target="_blank" href="https://map.gob.do/terminos-de-uso/">Términos de Uso</a></span>
                            @Html.ValidationMessageFor(model => model.PoliticaUso, "", new { @class = "text-danger" })
                        </label>
                    </div><!-- End .checkbox -->
                </div><!-- End .form-group -->

                <div class="form-group mb5">
                    <input type="submit" id="submit" class="btn btn-custom min-width" value="Crear Usuario">
                </div><!-- End .from-group -->

            </div>
        }
    </div><!-- End .container -->
</div>
<!-- Modal -->
<!-- Modal Contact Form-->

<div id="progress" class="modal">
    <div class="center">
        <img src="~/Content/assets/images/loader.gif" />
    </div>
</div>





@section Scripts {
    <script src="~/Content/assets/js/Button-evaluadores.js"></script>


    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.inputmask.bundle.js"></script>


    <script src="~/Content/assets/sweetalert2.all.min.js"></script>
    <script src="~/Content/assets/js/select2.min.js"></script>


    @*<script src="/sgp/Content/assets/js/jquery.min.js"></script>
        <script src="/sgp/Content/assets/js/jquery.inputmask.bundle.js"></script>


        <script src="/sgp/Content/assets/sweetalert2.all.min.js"></script>
        <script src="/sgp/Content/assets/js/select2.min.js"></script>*@

    <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->


    <script src="~/Content/assets/js/bootstrap-filestyle.min.js"></script>


    <script type="text/javascript">
        var spinnerVisible = false;
        function showProgress() {

            if (!spinnerVisible) {
                $("div#spinner").fadeIn("fast");
                spinnerVisible = true;
            }
        };
        function hideProgress() {
            if (spinnerVisible) {
                var spinner = $("div#spinner");
                spinner.stop();
                spinner.fadeOut("fast");
                spinnerVisible = false;
            }
        };
    </script>

    <script>
        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $("#toggle-password");
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $(".toggle-confirm-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $("#toggle-confirm-password");
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        //VALIDACIÓN DE USUARIOS Y DE COORDINADOR

        $('#selUser').on('change',
            function () {
                var valor = $('#selUser').val();
                $.ajax({
                    type: "GET",
                    url: "/sgp/Account/InstitucionTieneCoordinador?OrganismoID=" + valor  + "&premioID=" + @premio.PremioID,
                    contentType: "html",
                    success: function (response) {


                        @*if (@premio.TipoPremio.Siglas  === "PIMP") {

                        } else {

                        }*@

                        if (response.cantidad === 3) {

                            if (@premio.TipoPremio.Siglas === "PIMP") {
                                Swal.fire({
                                    title: 'Equipo Completo!',
                                    text: "Lo sentimos, esta unidad tiene su equipo completo",
                                    type: 'warning',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'De acuerdo'
                                }).then((result) => {
                                    if (result.value) {
                                        location.reload();
                                    }
                                });
                            } else {
                                Swal.fire({
                                    title: 'Equipo Completo!',
                                    text: "Lo sentimos, esta institución tiene su equipo completo",
                                    type: 'warning',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'De acuerdo'
                                }).then((result) => {
                                    if (result.value) {
                                        location.reload();
                                    }
                                });
                            }

                        } else {

                            $("#submit").prop("disabled", false);


                            if (response.HasCoordinado) {

                                $("#coordinador").attr("style", "display:none");

                            } else {
                                $("#coordinador").removeAttr("style", "display:none");
                            }
                        }




                    }
                });
            });

        $('#sector').on('change', function () {
            var valor = $('#sector').val();
            console.log(valor);

            if (valor === "Educativo") {
                $("#ClasificacionSectorEducativo").removeAttr("style", "display:none");
                $("#ClasificacionSectorSalud").attr("style", "display:none");


                $('input:radio[name="ClasificacionSectorEducativo"]').change(
                    function () {
                        let valor = $(this).val();
                        console.log(valor);
                        //EDUCACION
                        if (valor === "Dirección Regional") {
                            //MOSTRAR
                            $("#listaDireccion").attr("style", "display:none;");
                            $("#RNC").prop("required", true);

                            //OCULTAR
                            $("#ListaDistrito").attr("style", "display:none");
                            $("#codigoCentroEducativo").attr("style", "display:none");
                        }
                        if (valor === "Distrito Educativo") {
                            //MOSTRAR
                            $("#listaDireccion").removeAttr("style", "display:none");
                            $("#ListaDistrito").attr("style", "display:none");
                            $("#RNC").prop("required", true);

                            //OCULTAR
                            $("#codigoCentroEducativo").attr("style", "display:none");
                        }
                        if (valor === "Centro Educativo") {
                            //MOSTRAR
                            $("#listaDireccion").removeAttr("style", "display:none");
                            $("#ListaDistrito").removeAttr("style", "display:none");
                            $("#codigoCentroEducativo").removeAttr("style", "display:none");
                            $("#codigoCentroEducativo").prop("required", true);

                            //OCULTAR
                        }
                    });

            } else if (valor === "Salud") {
                $("#ClasificacionSectorSalud").removeAttr("style", "display:none");
                $("#ClasificacionSectorEducativo").attr("style", "display:none");


                $('input:radio[name="ClasificacionSectorSalud"]').change(
                    function () {
                        let valor = $(this).val();
                        console.log(valor);
                        //SALUD
                        //if (valor === "SRS") {
                        //    console.log(valor);
                        //    //MOSTRAR
                        //    $("#ListaRegion").removeAttr("style", "display:none");

                        //    //OCULTAR
                        //    $("#ListaDps").attr("style", "display:none");
                        //    $("#codigoCentroSalud").attr("style", "display:none");
                        //}
                        if (valor === "DPS") {
                            console.log(valor);
                            $("#ListaRegion").removeAttr("style", "display:none");
                            $("#ListaDps").removeAttr("style", "display:none");

                            //OCULTAR
                            $("#codigoCentroSalud").attr("style", "display:none");
                        }
                        if (valor === "Otros") {
                            console.log(valor);
                            $("#ListaRegion").removeAttr("style", "display:none");
                            $("#ListaDps").removeAttr("style", "display:none");
                            $("#codigoCentroSalud").removeAttr("style", "display:none");

                            //OCULTAR

                        }
                    });

            } else {
                $("#ClasificacionSectorEducativo").attr("style", "display:none");
                $("#ClasificacionSectorSalud").attr("style", "display:none");
            }
        });
        //$("input").on("click",
        //    function () {
        //        var valor = $("input:checked");
        //        valor = valor[1].id;
        //        //EDUCACION
        //        if (valor === "direccion") {
        //            //MOSTRAR
        //            $("#listaDireccion").removeAttr("style", "display:none;");

        //            //OCULTAR
        //            $("#ListaDistrito").attr("style", "display:none");
        //            $("#codigoCentroEducativo").attr("style", "display:none");
        //        }
        //        if (valor === "distrito") {
        //            //MOSTRAR
        //            $("#listaDireccion").removeAttr("style", "display:none");
        //            $("#ListaDistrito").removeAttr("style", "display:none");

        //            //OCULTAR
        //            $("#codigoCentroEducativo").attr("style", "display:none");
        //        }
        //        if (valor === "centro") {
        //            //MOSTRAR
        //            $("#listaDireccion").removeAttr("style", "display:none");
        //            $("#ListaDistrito").removeAttr("style", "display:none");
        //            $("#codigoCentroEducativo").removeAttr("style", "display:none");

        //            //OCULTAR
        //        }
        //        //SALUD
        //        if (valor === "SRS") {
        //            console.log(valor);
        //            //MOSTRAR
        //            $("#ListaRegion").removeAttr("style", "display:none");

        //            //OCULTAR
        //            $("#ListaDps").attr("style", "display:none");
        //            $("#codigoCentroSalud").attr("style", "display:none");
        //        }
        //        if (valor === "DPS") {
        //            console.log(valor);
        //            $("#ListaRegion").removeAttr("style", "display:none");
        //            $("#ListaDps").removeAttr("style", "display:none");

        //            //OCULTAR
        //            $("#codigoCentroSalud").attr("style", "display:none");
        //        }
        //        if (valor === "Otros") {
        //            console.log(valor);
        //            $("#ListaRegion").removeAttr("style", "display:none");
        //            $("#ListaDps").removeAttr("style", "display:none");
        //            $("#codigoCentroSalud").removeAttr("style", "display:none");

        //            //OCULTAR

        //        }
        //    });


    </script>
    <script>
        //$("#cv").filestyle({ buttonText: "Curriculum" });

        //$("#SectorTrabajo").attr("disable", false); // checked
        //$("#LugarTrabajo").prop("disable", false); // checked
        //$("#Cargo").prop("disable", false); // checked

        $(document).ready(function () {

            //console.log($("#IsEmpleado"));

            if ($("#IsEmpleado").is(':checked')) {
                console.log($("#IsEmpleado"));

                $("#SectorTrabajo").prop('disabled', false); // checked
                $("#LugarTrabajo").prop('disabled', false); // checked
                $("#Cargo").prop('disabled', false); // checked

            }

            $("#IsEmpleado").change(function () {
                if ($(this).is(':checked')) {
                    console.log($("#IsEmpleado"));

                    $("#SectorTrabajo").prop('disabled', false); // checked
                    $("#LugarTrabajo").prop('disabled', false); // checked
                    $("#Cargo").prop('disabled', false); // checked

                } else {
                    $("#SectorTrabajo").prop('disabled', true); // checked
                    $("#LugarTrabajo").prop('disabled', true); // checked
                    $("#Cargo").prop('disabled', true); // checked
                    console.log($("#IsEmpleado"));

                }
            });




            //var value = $("#cv").value();
            $("#cv").change(function () {
                var val = $("#cv").val();
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            if ('@mensaje.tipo'.length > 0) {
                Swal.fire({
                    type: '@mensaje.tipo',
                    title: '@mensaje.mensaje',
                    html: '@mensaje.texto'
                });
            }

            if ('@TempData["mensaje"]' === 'existe') {
                Swal.fire({
                    type: 'error',
                    title: 'Ya Existe!',
                    html: '@TempData["texto"]'
                });
            }

            if ('@TempData["mensaje"]' === 'institucionNoExiste') {
                Swal.fire({
                    type: 'error',
                    title: 'No Existe!',
                    html: '@TempData["texto"]'
                });
            }

            if ('@TempData["mensaje"]' === 'Documento Requerido') {
                Swal.fire({
                    title: '@TempData["mensaje"]',
                    type: '@TempData["type"]',
                    html: '@TempData["text"]'
                });
            }




            $("#Telefono").inputmask("(999) 999-9999");
            $("#extension").inputmask("9999");
            $("#TelefonoSecundario").inputmask("(999) 999-9999");
            $("#TelefonoOrganismo2").inputmask("(999) 999-9999");
            $("#TelefonoOrganismo1").inputmask("(999) 999-9999");

            $("#NumeroDocumentoIdentidad").inputmask("999-9999999-9");
            $("#RNC").inputmask("999-999999-9");
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            // Initialize select2
            $("#selUser").select2();


        });

        var mensajeRegister = '@ViewBag.mensajeRegister';//viene desde el controlador registro
        if (mensajeRegister) {
            Swal.fire(
                'Archivo Incorrecto',
                'El tipo de archivo que intenta subir no es válido pruebe usando: .pdf, .doc. docx',
                'Gracias'
            );
        }

        function success(data) {
            Swal.fire({
                position: 'top-end',
                type: 'success',
                title: 'Registro completo',
                showConfirmButton: false,
                timer: 1000
            });
        }

        function failure() {
            Swal.fire({
                type: 'error',
                title: 'Registro invalido',
                text: 'revise que haya completado todos los campos',
                footer: 'si persiste, comuniquese con el MAP'
            });
        }

        function complete() {
            $("#InstitucionNombre").attr("style", "display=none");
        }

        function valor(elem) {
            if (elem === "Postulante") {
                $("#postulante").removeAttr("style=display: none");
            } else {
                $("#postulante").attr("style=display: none");
            }
        }

        function confirmCV() {
            var cv = $("#cv").val();

            if (cv === "") {
                Swal.fire({
                    type: 'error',
                    title: 'Campo Vacío',
                    text: 'Debe seleccionar su curriculum para continuar con el proceso'
                });
            }
        }

        function confirmEmail() {


            var email = document.getElementById("Email").value;

            var confemail = document.getElementById("confemail").value;

            if (email !== confemail) {
                document.getElementById("confemail").value = "";
                document.getElementById("Email").value = "";

                Swal.fire({
                    title: "Hubo un error!",
                    text: "Verifque que los correos electrónicos sean iguales",
                    type: "error",
                    confirmButtonText: 'De Acuerdo'
                });



            }
        }

        function confirmPwd() {


            //var pwd = document.getElementById("Password").value;
            //var cpwd = document.getElementById("ConfirmPassword").value;

            //console.log(pwd);

        }
    </script>
    <script>
        //REGULAR EXPRESSION

        function regexNombre() {
            var str = $('#nombre').val();
            var res = str.replace(/^[, ]+|[, ]+$|[, ]+/g, " ").trim();
            $('#nombre').val(res.toUpperCase());
        }



        //MUNICIPIOS
        $("#ProvinciaID").change(function () {
            var provinciaId = $(this).val();
            debugger;
            console.log("provinciaID", provinciaId);
            $.ajax({
                type: "post",
                url: "/sgp/Account/GetMunicipioList?provinciaId=" + provinciaId,
                contentType: "html",
                success: function (response) {
                    $("#MunicipioID").empty();
                    $("#MunicipioID").append(response);
                }
            });
        });

        //DISTRITOS
        $("#DireccionRegionalID").change(function () {
            var DireccionRegionalID = $(this).val();
            debugger;
            console.log("DireccionRegionalID", DireccionRegionalID);
            $.ajax({
                type: "post",
                url: "/sgp/Account/GetDistritosEducativosList?DireccionRegionalID=" + DireccionRegionalID,
                contentType: "html",
                success: function (response) {
                    $("#DistritoEducativoID").empty();
                    $("#DistritoEducativoID").append(response);
                }
            });
        });

        //DPS
        $("#SRSID").change(function () {
            var SRSID = $(this).val();
            debugger;
            console.log("SRSID", SRSID);
            $.ajax({
                type: "post",
                url: "/sgp/Account/GetDPSList?SRSID=" + SRSID,
                contentType: "html",
                success: function (response) {
                    $("#DPSID").empty();
                    $("#DPSID").append(response);
                }
            });
        });

    </script>
}


