    @model ProyectoCalidad.WebUI.Models.EquiposListViewModel

@{
    ViewBag.Title = "";

    string nombreCompleto = "";

    if (Model.Jurado.Presidente == true)
    {
        nombreCompleto = Model.Jurado.Usuario.NombreCompleto(Model.Jurado.Usuario.Nombre, Model.Jurado.Usuario.Apellido) + " - Actual Presidente de los miembros del jurado";
    }
    else
    {
        nombreCompleto = Model.Jurado.Usuario.NombreCompleto(Model.Jurado.Usuario.Nombre, Model.Jurado.Usuario.Apellido) + " - Miembro del jurado";
    }
}
@section Style {
    <!-- Plugins css-->
    <link href="~/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title">Asignar Memoria a un Jurado </h4>
            <ol class="breadcrumb p-0 m-0">
                <li>
                    <a href="@Url.Action("Index", "Home")">Inicio</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Jurado", new { Id = Model.PremioID})">Jurado </a>
                </li>
                <li class="active">
                    Asignar Institción
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-xs-12">
        <div class="card-box">
            @using (Html.BeginForm("EditarEquipoJurado", "JuradoInstitucion", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-sm-12 col-xs-12 col-md-12">
                            <div class="form-horizontal">
                                <h4> @ViewBag.Title</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                @Html.HiddenFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.HiddenFor(model => model.JuradoID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.HiddenFor(model => model.Jurado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.HiddenFor(model => model.PremioID)

                                @*<div class="form-group">
                                        <div class="col-md-10">
                                            @Html.HiddenFor(model => model.EquipoEvaluadorID, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.EquipoEvaluadorID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.HiddenFor(model => model.PremioID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PremioID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @{
                                    if (Model.Premio != null)
                                    {
                                        <div class="form-group">
                                            @Html.Label("Premio", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DisplayFor(model => model.Premio.Descripcion)
                                            </div>
                                        </div>
                                    }
                                }

                                <div class="form-group">
                                    @Html.Label("Jurado Seleccionado", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <h4>@nombreCompleto</h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Postulantes</label>
                                    <div class="col-md-10 m-t-20">

                                        @Html.DropDownList("ListaPostulantes", new MultiSelectList(Model.Postulantes, "InstitucionPostulanteID", "InstitucionNombre", Model.InstitucionPostulanteID), new { multiple = "multiple", @id = "my_multi_select3" })

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        @Html.ActionLink("Regresar", "Index", new { premioID = Model.PremioID }, new { @class = "btn btn-danger" })

                    </div>
                </div> <!--end row-->

            }
        </div>
    </div>
</div>






@section scripts{

    <script src="~/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <script src="~/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script src="~/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
    <script src="~/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

    <script src="~/plugins/autocomplete/jquery.mockjax.js"></script>
    <script src="~/plugins/autocomplete/jquery.autocomplete.min.js"></script>
    <script src="~/plugins/autocomplete/countries.js"></script>
    <script src="~/Scripts/pages/jquery.autocomplete.init.js"></script>
    <script src="~/Scripts/pages/jquery.form-advanced.init.js"></script>

    @*<script>
            $(document).ready(function() {
                $("#my_multi_select3").attr("style", "max-width: 100% !important");
            });
        </script>*@
}









