@using System.ServiceModel.Activities
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ProyectoCalidad.Domain.Concrete
@using ProyectoCalidad.Domain.Entities
@using ProyectoCalidad.Domain.Migrations
@model IEnumerable<ProyectoCalidad.WebUI.Models.JuradoViewModel>

@{
    ViewBag.Title = "Lista de Aspirantes";
}


@section Style{
    <!-- DataTables -->
    <link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/fixedHeader.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/scroller.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/dataTables.colVis.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/fixedColumns.dataTables.min.css" rel="stylesheet" type="text/css" />

    <!-- Plugins css-->
    <link href="~/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="row">
        <div class="col-xs-12">
            <div class="page-title-box">
                <h4 class="page-title">Jurados Asignados</h4>
                <ol class="breadcrumb p-0 m-0">
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li>
                        <a href="#">Jurados</a>
                    </li>
                    <li class="active">
                        Listado
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
<!-- end row -->

<div class="row">
    <div class="col-sm-4">
        <a href="javascript:window.history.back();" class="btn btn-danger btn-bordered waves-effect waves-light m-l-10 m-b-20" data-animation="fadein" data-plugin="custommodal"
           data-overlaySpeed="200" data-overlayColor="#36404a"><i class="md md-add"></i>Regresar</a>
    </div><!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            @*<h4 class="m-t-0 header-title"><b>Buttons example</b></h4>
                <p class="text-muted font-13 m-b-30">
                    The Buttons extension for DataTables provides a common set of options, API methods and
                    styling to display buttons on a page that will interact with a DataTable. The core
                    library provides the based framework upon which plug-ins can built.
                </p>*@

            <table id="datatable-buttons" class="table table-striped  table-colored table-info">
                <thead>
                    <tr>
                        <th class="text-center">Imagen</th>
                        <th class="text-center">Nombre</th>
                        @*<th class="text-center">Motivo</th>*@
                        <th class="text-center">Email</th>
                        <th class="text-center">Teléfono(s)</th>
                        <th class="text-center">Unidades Asignadas</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>


                <tbody>
                    @{
                        var num = 0;

                    }
                    @foreach (var item in Model)
                    {
                        num++;
                        var NombreCompleto = item.Jurados.Usuario.NombreCompleto(item.Jurados.Usuario.Nombre, item.Jurados.Usuario.Apellido);
                        var imagen = Path.GetFileName(item.Jurados.Usuario.Imagen);

                        <tr>
                            <td class="user-box text-center">
                                <a href="@Url.Action("Perfil", "Account", new{id = item.Jurados.UsuarioId})" class="waves-effect waves-light user-link" >
                                    <img src="@Url.Content("~/Usuarios/Imagenes/" + imagen)" alt="user-img" class="img-circle user-img thumbnail">

                                </a>

                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => NombreCompleto)
                            </td>

                            <td>
                                @item.Jurados.Usuario.Email
                            </td>

                            <td>
                                @item.Jurados.Usuario.Telefono | @item.Jurados.Usuario.TelefonoSecundario
                            </td>
                            <td>
                                <div class="btn-group bootstrap-select">
                                    <select class="selectpicker" data-style="btn-default" tabindex="-98" onchange="evaluadorSeleccionado(this.value, @item.Jurados.JuradoID)">

                                        <option value=0 selected="selected" style="color:gray">Memorias</option>
                                        @foreach (var i in item.InstitucionesPostulantes)
                                        {

                                            <option value="@i.InstitucionPostulanteID">@i.InstitucionNombre</option>


                                        }
                                    </select>
                                </div>
                            </td>

                            <td class="text-center">

                                <div class="btn-group">
                                    <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acciones <span class="caret"></span></button>

                                    <ul class="dropdown-menu" role="menu" style="margin-left: -70%;">

                                        <li>
                                            <a href="@Url.Action("EditarEquipoJurado", new {id = item.Jurados.JuradoID})">Editar Asignación</a>

                                        </li>
                                        <li>
                                            <a id="tooltip-html-1" data-placement="top" title="La notificacíon será enviada por correo electrónico al jurado asignado" style="cursor: pointer" onclick="enviarEmail(@item.Jurados.JuradoID)"> <i class="mdi mdi-email-open"></i> Enviar Notificación</a>
                                        </li>
                                        @if (item.Jurados.Premio.TipoPremio.Siglas == "PIMP")
                                        {
                                            <li>
                                                <a style="cursor: pointer" onclick="confirmacion(@item.Jurados.JuradoID)">Generar Datos de Puntuación</a>

                                            </li>

                                        }

                                    </ul>
                                </div>

                            </td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- End row -->
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal Content is Responsive</h4>
            </div>
            @using (Html.BeginForm("ActivarJurado", "Account", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="form-group">

                                <label>Seleccione la Institución que este</label>

                                @Html.DropDownList("InstitucionPostulanteID", null, "", new { @class = "form-control select2" })
                                <input type="hidden" name="userId" value="" />



                            </div><!-- End .from-group -->
                        </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info waves-effect waves-light">Enviar Correo</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                </div>
            }
        </div>
    </div>
</div><!-- /.modal -->

<div id="asignar-jurado" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal Content is Responsive</h4>
            </div>
            @using (Html.BeginForm("AsignarJurado", "Jurado", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="form-group">

                                <label>Seleccione la Institución que este</label>

                                @Html.DropDownList("InstitucionPostulanteID", null, "", new { @class = "form-control select2" })
                                <input type="hidden" name="userId" value="" />



                            </div><!-- End .from-group -->
                        </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info waves-effect waves-light">Guardar</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                </div>
            }
        </div>
    </div>
</div><!-- /.modal -->
<!-- end row -->
@section scripts{

    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap.js"></script>

    <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/plugins/datatables/jszip.min.js"></script>
    <script src="~/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="~/plugins/datatables/dataTables.scroller.min.js"></script>
    <script src="~/plugins/datatables/dataTables.colVis.js"></script>
    <script src="~/plugins/datatables/dataTables.fixedColumns.min.js"></script>

    <script src="~/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <script src="~/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script src="~/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
    <script src="~/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

    <script src="~/plugins/autocomplete/jquery.mockjax.js"></script>
    <script src="~/plugins/autocomplete/jquery.autocomplete.min.js"></script>
    <script src="~/plugins/autocomplete/countries.js"></script>

    <script src="~/Scripts/pages/jquery.form-advanced.init.js"></script>

    <!-- init -->
    <script src="~/Scripts/pages/jquery.datatables.init.js"></script>
    <script src="~/plugins/sweetalert2.all.min.js"></script>


    <script>

                //EVNIO DE NOTIFICACIÓN POR CORREO ELECTRÓNICO
        function enviarEmail(id) {
            Swal.fire({
                    title: 'Confirmación',
                    text: "Enviar notificación a los evaluadores en este equipo",
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
            }).then((result) => {

                if (result.value) {

                        var url = '';

                        url = '@Url.Action("EnviarNotificacionJuradosAsignados", "JuradoInstitucion")';

                        url += '/' + id;

                        $("#coverScreen").show();

                        $.ajax({
                            type: 'GET',
                            url: url,
                            success: function(response) {
                                if (response.mensaje === "True") {
                                    $("#coverScreen").hide();
                                    Swal.fire({
                                        title: 'Enviado!',
                                        html: 'Todos los evaluadores recibiran su notificación',
                                        type: 'success',
                                        showConfirmButton: false,
                                        timer: 2000
                                    });
                                    //$("#coverScreen").show().setTimeout(function() {

                                    //    location.reload();

                                    //    },
                                    //    2000);
                                } else {
                                    if (response.tipo === "error") {
                                        Swal.fire(
                                            response.mensaje,
                                            response.texto,
                                            response.tipo
                                        );
                                    }
                                    if (response.tipo === "warning") {
                                        Swal.fire(
                                            response.mensaje,
                                            response.texto,
                                            response.tipo
                                        );
                                    }
                                    Swal.fire(
                                        'Hubo un error',
                                        'No se pudo realizar la operación',
                                        'error'
                                    );
                                }
                            }
                        });

                    }
                });
        }

        //PASAR EL ID DEL USUARIO AL MODAL
        $('#con-close-modal').on('show.bs.modal', function(e) {
            var userId = $(e.relatedTarget).data('user-id');
            $(e.currentTarget).find('input[name="userId"]').val(userId);
        });


        //PASAR EL ID DEL USUARIO AL MODAL
        $('#asignar-jurado').on('show.bs.modal', function (e) {
            var userId = $(e.relatedTarget).data('user-id');
            $(e.currentTarget).find('input[name="userId"]').val(userId);
        });

        //DATOS DE LA PUNTUACIÓN
        function generarDatos(id) {
            debugger;
            $.ajax({
                type: "get",
                url: "/sgp_admin/JuradoInstitucion/GenerarDatosPuntuacion?juradoID=" + id,

                success: function (data) {
                    $("#coverScreen").hide();
                    debugger;
                    if (data === "True") {
                        Swal.fire(
                            'Generados!',
                            'Todos los campos fueron generados satisfactoriamente',
                            'success'
                        );
                        setTimeOut(function() {
                                location.reload();
                            },
                            3000);
                    } else {
                        Swal.fire(
                            'Cancelado',
                            'La comisión evaluadora no pudo ser encontrada, favor contctar a la coordinación del premio',
                            'error'
                        );
                    }
                }
            });
        }

        function confirmacion(id) {
            debugger;

            Swal.fire({
                title: 'Confirmación',
                html: "Va a generar los campos de puntuación para la(s) memoria(s) asignada(s). Una vez generados no podrán ser editados. Desea continuar?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Generar'
            }).then((result) => {
                debugger;
                if (result.value) {

                    $("#coverScreen").show();

                    generarDatos(id);

                }
            });


        }


        function evaluadorSeleccionado(val, eeId) {
            console.log(val +", "+ eeId);
            if (val > 0) {

                var url  = '@Url.Action("GetInstitucionInfo", "InstitucionPostulante")';

                url += "/" + val;

                $.ajax({
                    type: "GET",
                    url: url,
                    success: function(response) {
                        var json = JSON.parse(response);

                            if (json.InstitucionPostulanteID > 0) {
                                console.log(json);
                                $("#institucion").text(json.InstitucionNombre);

                                $("#eeid").val(eeId);
                                console.log($("#eeid").val());

                                $(".remover").prop("id", json.InstitucionPostulanteID);
                                $("");

                                //debugger;
                                $("#remover-memoria-modal").show(300);
                            }


                        //console.log(response);
                        //if (response.resp) {

                        //}
                    }
                });
            }
        }

        function cerrarModal() {
            $("#evaluador-modal").hide(300);
            $("#remover-memoria-modal").hide(300);

        }

        function fn(id, i) {
            console.log("varibale input: ", i.id);
            var $this = this.checked;
            debugger;
            $('#' + i.id).change(function () {
                $.ajax({
                    type: "POST",
                    url: "/Account/Aspirante?id=" + id,
                    success: function (data) {
                        if (data === "True") {
                            $("#" + i.id).each(function () {
                                this.checked = true;
                                location.reload();
                            });
                        } else {
                            $("#" + i.id).each(function () {
                                this.checked = false;
                                location.reload();
                            });
                        }
                    }
                });
            });


        };

        //datatable
        $(document).ready(function () {
            $('#datatable').dataTable({

            });

            $('#datatable-keytable').DataTable({ keys: true });
            $('#datatable-responsive').DataTable();
            $('#datatable-colvid').DataTable({
                "dom": 'C<"clear">lfrtip',
                "colVis": {
                    "buttonText": "Change columns"
                }
            });
            $('#datatable-scroller').DataTable({
                ajax: "~/plugins/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({ fixedHeader: true });
            var table = $('#datatable-fixed-col').DataTable({
                scrollY: "300px",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                fixedColumns: {
                    leftColumns: 1,
                    rightColumns: 1
                }
            });
        });
        TableManageButtons.init(30);

    </script>
}
