@using Microsoft.AspNet.Identity
@model ProyectoCalidad.Domain.Entities.Organismo

@{
    ViewBag.Title = "EditarOrganismo";
}

<h2>@ViewBag.editar</h2>

<div class="main">
    <div class="page-header larger parallax custom" style="background-image:url(/sgp/assets/images/page-header-bg.jpg)">
        <div class="container">

            <h1>Edición PERFÍL</h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="javascript:history.back()">Perfíl</a></li>
                <li class="active">Postulante</li>
            </ol>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <div class="container">
        @using (Ajax.BeginForm("EditarOrganismo", "Organismo", new { vista = "editarOrganimo" }, new AjaxOptions()
        {
            HttpMethod = "post",
            OnSuccess = "success",
            OnFailure = "failure",
            OnComplete = "complete"

        }))
        {

            @Html.Hidden("UserID", User.Identity.GetUserId())
            @Html.Hidden("FechaCreacion", DateTime.Now)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Sector);
            @Html.HiddenFor(m => m.OrganismoID)
            @Html.HiddenFor(m => m.Estado)
            @Html.HiddenFor(m => m.FuncionarioID)
            @Html.HiddenFor(m => m.MunicipioId)
            @Html.HiddenFor(m => m.ProvinciaID)

            <div class="">
                <div class="">


                    <div class="">
                        <h3 class="modal-title" id="myModalLabel4">@ViewBag.editarTitle</h3>
                    </div><!-- End .modal-header -->



                    <div class="">

                        <hr />

                        @* DECISIONES *@
                        <div class="form-group">
                            <label>Sector Organizacional <i style="color: #ce8a8a" class="fa fa-asterisk"></i></label>
                            @{
                                var selectList = new SelectList(
                                    new List<SelectListItem>
                                    {
                                        new SelectListItem {Text = "Central/Descentralizado/Autónomo", Value = "Central/Descentralizado/Autónomo"},
                                        new SelectListItem {Text = "Educativo", Value = "Educativo"},
                                        new SelectListItem {Text = "Salud", Value = "Salud"},
                                        new SelectListItem {Text = "Municipal", Value = "Municipal"},

                                    }, "Value", "Text");
                            }
                            @Html.DropDownListFor(m => m.Sector, selectList, new { id = "sector", @class = "form-control" })
                            @*<select name="Sector" id="sector" class="form-control">
                                    <option value="Central/Descentralizado/Autónomo">Central/Descentralizado/Autónomo</option>
                                    <option value="Educativo">Educativo</option>
                                    <option value="Salud">Salud</option>
                                    <option value="Municipal">Municipal</option>
                                </select>*@
                        </div>

                        @* Si es del sector Educativo *@
                        <!--===========================================-->
                        <div class="form-group" id="ClasificacionSectorEducativo" style="display: none; background-color: darkgray">
                            <label class="input-desc">Tipo de Organismo</label>

                            <br />
                            <label class="radio-inline custom-radio-wrapper">
                                <span class="custom-radio-container">
                                    @Html.RadioButtonFor(x => x.ClasificacionSectorEducativo, "Dirección Regional", new { id = "direccion" })
                                    <span class="custom-radio-icon"></span>
                                </span><span>Dirección Regional</span>
                            </label>


                            <label class="radio-inline custom-radio-wrapper">
                                <span class="custom-radio-container">
                                    @Html.RadioButtonFor(x => x.ClasificacionSectorEducativo, "Distrito Educativo", new { id = "distrito" })
                                    <span class="custom-radio-icon"></span>
                                </span><span>Distrito Educativo</span>
                            </label>
                            <label class="radio-inline custom-radio-wrapper">
                                <span class="custom-radio-container">
                                    @Html.RadioButtonFor(x => x.ClasificacionSectorEducativo, "Centro Educativo", new { id = "centro" })
                                    <span class="custom-radio-icon"></span>
                                </span><span>Centro Educativo</span>
                            </label>
                            <br />
                            <br />

                            @* LISTA DE DIRECCIONES REGIONALES *@
                            <div class="form-group" style="display: none" id="listaDireccion">
                                <label class="input-desc">Dirección Regional a que pertenece</label>
                                @Html.DropDownList("DireccionRegionalID", null, "Seleccione", new { @class = "form-control" })
                            </div>

                            @* LISTA DE DISTRITOS EDUCATIVOS *@

                            <div class="form-group" style="display: none" id="ListaDistrito">
                                <label class="input-desc">Distrito Educativo a que pertenece</label>
                                @Html.DropDownList("DistritoEducativoID", new SelectList(""), "-- Seleccione --", new { @class = "form-control" })

                                @*@Html.DropDownList("DistritoEducativoID", null, "Seleccione", new { @class = "form-control" })*@
                            </div>
                            <div class="form-group" style="display: none" id="codigoCentroEducativo">
                                <label class="input-desc">Código del Centro</label>
                                @Html.TextBox("CodigoCentroEducativo", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <!--===========================================-->
                        @* Si es del sector Salud *@
                        <!--===========================================-->

                        <div class="form-group" id="ClasificacionSectorSalud" style="display: none; background-color: darkgray">
                            <label class="input-desc">Tipo de Organismo</label>
                            <br />
                            <label class="radio-inline custom-radio-wrapper">
                                <span class="custom-radio-container">
                                    @Html.RadioButtonFor(x => x.ClasificacionSectorSalud, "SRS", new { id = "SRS" })
                                    <span class="custom-radio-icon"></span>
                                </span><span>SRS</span>
                            </label>
                            <label class="radio-inline custom-radio-wrapper">
                                <span class="custom-radio-container">
                                    @Html.RadioButtonFor(x => x.ClasificacionSectorSalud, "DPS", new { id = "DPS" })
                                    <span class="custom-radio-icon"></span>
                                </span><span>DPS</span>
                            </label>
                            <label class="radio-inline custom-radio-wrapper">
                                <span class="custom-radio-container">
                                    @Html.RadioButtonFor(x => x.ClasificacionSectorSalud, "Otros", new { id = "Otros" })
                                    <span class="custom-radio-icon"></span>
                                </span><span>Otros</span>
                            </label>

                            @* LISTRA DE SRS *@
                            <div class="form-group" style="display: none" id="ListaRegion">
                                <label class="input-desc">Seleccione SRS que pertenece</label>
                                @Html.DropDownList("SRSID", null, "Seleccione", new { @class = "form-control" })
                            </div>

                            @* LISTA DE DPS *@

                            <div class="form-group" style="display: none" id="ListaDps">
                                <label class="input-desc">Seleccione el DPS que pertenece</label>
                                @Html.DropDownList("DPSID", null, "Seleccione", new { @class = "form-control" })

                                @*@Html.DropDownList("DPSID", null, "Seleccione", new { @class = "form-control" })*@
                            </div>
                        </div>
                        <!--===========================================-->
                        <div class="form-group">
                            <label for="name" class="input-desc">Nombre: </label>
                            @Html.TextBoxFor(x => x.Nombre, null, new { @class = "form-control" })
                        </div><!-- End .from-group -->
                        <!-- comprobar que no se repitan -->
                        <div class="form-group">
                            <label for="RNC" class="input-desc">RNC</label>
                            @Html.TextBoxFor(x => x.RNC, null, new { @class = "form-control" })
                        </div><!-- End .from-group -->
                        <div class="form-group">
                            <label for="DireccionFisica" class="input-desc">Dirección</label>
                            @Html.TextBoxFor(x => x.DireccionFisica, null, new { @class = "form-control" })
                        </div><!-- End .from-group -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="input-desc">Provincia</label>
                                    @Html.DropDownList("ProvinciaID", null, "Seleccione", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="input-desc">Municipio</label>
                                    @Html.DropDownList("MunicipioID", null, "Seleccione", new { @class = "form-control" })
                                    @*@Html.DropDownList("MunicipioID", null, "Seleccione", new { @class = "form-control" })*@
                                </div>
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="Telefono1" class="input-desc">Teléfono 1</label>
                            @Html.TextBoxFor(x => x.TelefonoOrganismo1, null, new { @class = "form-control" })
                        </div><!-- End .from-group -->

                        <div class="form-group">
                            <label for="Telefono2" class="input-desc">Teléfono 2</label>
                            @Html.TextBoxFor(x => x.TelefonoOrganismo2, null, new { @class = "form-control" })
                        </div><!-- End .from-group -->

                        <div class="form-group">
                            <label for="CorreoElectronico" class="input-desc">Correo Electrónico</label>
                            @Html.TextBoxFor(x => x.Email, null, new { @class = "form-control" })

                        </div><!-- End .from-group -->

                        <div class="form-group">
                            <label for="CorreoElectronico" class="input-desc">Página Web</label>
                            @Html.TextBoxFor(x => x.Web, null, new { @class = "form-control" })
                        </div><!-- End .from-group -->
                        @* USUARIO RESPONSABLE *@

                        <h4>Datos de la Máxima Autoridad</h4>
                        <hr />

                        <div class="form-group">
                            <label for="name" class="input-desc">Nombre(s): </label>
                            @Html.TextBoxFor(x => x.FuncionarioNombre, null, new { @class = "form-control" })
                        </div><!-- End .from-group -->

                        <div class="form-group">
                            <label for="name" class="input-desc">Apellido(s): </label>
                            @Html.TextBoxFor(x => x.FuncionarioApellido, null, new { @class = "form-control" })
                        </div><!-- End .from-group -->

                        <div class="form-group">
                            <label for="name" class="input-desc">Cargo: </label>
                            @Html.TextBoxFor(x => x.FuncionarioCargo, null, new { @class = "form-control" })
                        </div><!-- End .from-group -->


                    </div><!-- End .modal-body -->
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-custom" value="Guardar Cambios" />
                        <a href="javascript:history.back()" class="btn btn-default" data-dismiss="modal">Regresar</a>
                    </div><!-- End .modal-footer -->
                </div><!-- End .modal-content -->
            </div><!-- End .modal-dialog -->
        }

    </div><!-- End .modal -->
</div>

@section Scripts {


    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.inputmask.bundle.js"></script>


    <script src="~/Content/assets/sweetalert2.all.min.js"></script>
    <script src="~/Content/assets/js/select2.min.js"></script>


    @*<script src="/sgp/Content/assets/js/jquery.min.js"></script>
        <script src="/sgp/Content/assets/js/jquery.inputmask.bundle.js"></script>


        <script src="/sgp/Content/assets/sweetalert2.all.min.js"></script>
        <script src="/sgp/Content/assets/js/select2.min.js"></script>*@

    <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->


    <script src="~/Content/assets/js/bootstrap-filestyle.min.js"></script>

    <script>
        $('input[required]').on('invalid', function () {
            this.setCustomValidity($(this).data("required-message"));
        });
    </script>

    <script type="text/javascript">
        var spinnerVisible = false;
        function showProgress() {
            s
            if (!spinnerVisible) {
                $("div#spinner").fadeIn("fast");
                spinnerVisible = true;
            }
        };
        function hideProgress() {
            if (spinnerVisible) {
                var spinner = $("div#spinner");
                spinner.stop();
                spinner.fadeOut("fast");
                spinnerVisible = false;
            }
        };
    </script>

    <script>

        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $("#toggle-password");
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $(".toggle-confirm-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $("#toggle-confirm-password");
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        //VALIDACIÓN DE USUARIOS Y DE COORDINADOR

        $('#selUser').on('change',
            function () {
                var valor = $('#selUser').val();
                $.ajax({
                    type: "GET",
                    url: "/sgp/Organismo/InstitucionTieneCoordinador?OrganismoID=" + valor,
                    contentType: "html",
                    success: function (response) {

                        if (response.cantidad === 3) {
                            Swal.fire({
                                title: "Equipo Completo!",
                                text: "Lo sentimos, esta institución tiene su equipo completo",
                                type: "warning",
                                confirmButtonText: 'De Acuerdo'
                            });
                            Swal.fire({
                                title: 'Equipo Completo!',
                                text: "Lo sentimos, esta institución tiene su equipo completo",
                                type: 'warning',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'De acuerdo'
                            }).then((result) => {
                                if (result.value) {
                                    location.reload();
                                }
                            });
                        } else {

                            $("#submit").prop("disabled", false);


                            if (response.HasCoordinado) {

                                $("#coordinador").attr("style", "display:none");

                            } else {
                                $("#coordinador").removeAttr("style", "display:none");
                            }
                        }




                    }
                });
            });

        $('#sector').on('change', function () {
            var valor = $('#sector').val();
            console.log(valor);

            if (valor === "Educativo") {
                $("#ClasificacionSectorEducativo").removeAttr("style", "display:none");
                $("#ClasificacionSectorSalud").attr("style", "display:none");


                $('input:radio[name="ClasificacionSectorEducativo"]').change(
                    function () {
                        let valor = $(this).val();
                        console.log(valor);
                        //EDUCACION
                        if (valor === "Dirección Regional") {
                            //MOSTRAR
                            $("#listaDireccion").attr("style", "display:none;");

                            //OCULTAR
                            $("#ListaDistrito").attr("style", "display:none");
                            $("#codigoCentroEducativo").attr("style", "display:none");
                        }
                        if (valor === "Distrito Educativo") {
                            //MOSTRAR
                            $("#listaDireccion").removeAttr("style", "display:none");
                            $("#ListaDistrito").attr("style", "display:none");

                            //OCULTAR
                            $("#codigoCentroEducativo").attr("style", "display:none");
                        }
                        if (valor === "Centro Educativo") {
                            //MOSTRAR
                            $("#listaDireccion").removeAttr("style", "display:none");
                            $("#ListaDistrito").removeAttr("style", "display:none");
                            $("#codigoCentroEducativo").removeAttr("style", "display:none");

                            //OCULTAR
                        }
                    });

            } else if (valor === "Salud") {
                $("#ClasificacionSectorSalud").removeAttr("style", "display:none");
                $("#ClasificacionSectorEducativo").attr("style", "display:none");


                $('input:radio[name="ClasificacionSectorSalud"]').change(
                    function () {
                        let valor = $(this).val();
                        console.log(valor);
                        //SALUD
                        //if (valor === "SRS") {
                        //    console.log(valor);
                        //    //MOSTRAR
                        //    $("#ListaRegion").removeAttr("style", "display:none");

                        //    //OCULTAR
                        //    $("#ListaDps").attr("style", "display:none");
                        //    $("#codigoCentroSalud").attr("style", "display:none");
                        //}
                        if (valor === "DPS") {
                            console.log(valor);
                            $("#ListaRegion").removeAttr("style", "display:none");
                            $("#ListaDps").removeAttr("style", "display:none");

                            //OCULTAR
                            $("#codigoCentroSalud").attr("style", "display:none");
                        }
                        if (valor === "Otros") {
                            console.log(valor);
                            $("#ListaRegion").removeAttr("style", "display:none");
                            $("#ListaDps").removeAttr("style", "display:none");
                            $("#codigoCentroSalud").removeAttr("style", "display:none");

                            //OCULTAR

                        }
                    });

            } else {
                $("#ClasificacionSectorEducativo").attr("style", "display:none");
                $("#ClasificacionSectorSalud").attr("style", "display:none");
            }
        });
        //$("input").on("click",
        //    function () {
        //        var valor = $("input:checked");
        //        valor = valor[1].id;
        //        //EDUCACION
        //        if (valor === "direccion") {
        //            //MOSTRAR
        //            $("#listaDireccion").removeAttr("style", "display:none;");

        //            //OCULTAR
        //            $("#ListaDistrito").attr("style", "display:none");
        //            $("#codigoCentroEducativo").attr("style", "display:none");
        //        }
        //        if (valor === "distrito") {
        //            //MOSTRAR
        //            $("#listaDireccion").removeAttr("style", "display:none");
        //            $("#ListaDistrito").removeAttr("style", "display:none");

        //            //OCULTAR
        //            $("#codigoCentroEducativo").attr("style", "display:none");
        //        }
        //        if (valor === "centro") {
        //            //MOSTRAR
        //            $("#listaDireccion").removeAttr("style", "display:none");
        //            $("#ListaDistrito").removeAttr("style", "display:none");
        //            $("#codigoCentroEducativo").removeAttr("style", "display:none");

        //            //OCULTAR
        //        }
        //        //SALUD
        //        if (valor === "SRS") {
        //            console.log(valor);
        //            //MOSTRAR
        //            $("#ListaRegion").removeAttr("style", "display:none");

        //            //OCULTAR
        //            $("#ListaDps").attr("style", "display:none");
        //            $("#codigoCentroSalud").attr("style", "display:none");
        //        }
        //        if (valor === "DPS") {
        //            console.log(valor);
        //            $("#ListaRegion").removeAttr("style", "display:none");
        //            $("#ListaDps").removeAttr("style", "display:none");

        //            //OCULTAR
        //            $("#codigoCentroSalud").attr("style", "display:none");
        //        }
        //        if (valor === "Otros") {
        //            console.log(valor);
        //            $("#ListaRegion").removeAttr("style", "display:none");
        //            $("#ListaDps").removeAttr("style", "display:none");
        //            $("#codigoCentroSalud").removeAttr("style", "display:none");

        //            //OCULTAR

        //        }
        //    });


    </script>
    <script>
        $("#cv").filestyle({ buttonText: "Curriculum" });

        $(document).ready(function () {

            //var value = $("#cv").value();
            $("#cv").change(function () {
                var val = $("#cv").val();
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            if ('@TempData["mensaje"]' === 'existe') {
                Swal.fire({
                    type: 'error',
                    title: 'Ya Existe!',
                    html: '@TempData["texto"]'
                });
            }

            if ('@TempData["mensaje"]' === 'guardado') {
                Swal.fire({
                    position: 'top',
                    type: 'success',
                    title: 'Nueva Institución Creada',
                    showConfirmButton: true
                });
            }



            $("#Telefono").inputmask("9(999) 999-9999");
            $("#TelefonoSecundario").inputmask("9(999) 999-9999");
            $("#TelefonoOrganismo2").inputmask("(999) 999-9999");
            $("#TelefonoOrganismo1").inputmask("(999) 999-9999");

            $("#NumeroDocumentoIdentidad").inputmask("999-9999999-9");
            $("#RNC").inputmask("999-999999-9");
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            // Initialize select2
            $("#selUser").select2();


        });

        var mensajeRegister = '@ViewBag.mensajeRegister';//viene desde el controlador registro
        if (mensajeRegister) {
            Swal.fire(
                'Archivo Incorrecto',
                'El tipo de archivo que intenta subir no es válido pruebe usando: .pdf, .doc. docx',
                'Gracias'
            );
        }

        function success(data) {
            Swal.fire({
                position: 'top-end',
                type: 'success',
                title: 'Registro completo',
                showConfirmButton: false,
                timer: 1000
            });
        }

        function failure() {
            Swal.fire({
                type: 'error',
                title: 'Registro invalido',
                text: 'revise que haya completado todos los campos',
                footer: 'si persiste, comuniquese con el MAP'
            });
        }

        function complete() {
            $("#InstitucionNombre").attr("style", "display=none");
        }

        function valor(elem) {
            if (elem === "Postulante") {
                $("#postulante").removeAttr("style=display: none");
            } else {
                $("#postulante").attr("style=display: none");
            }
        }

        function confirmCV() {
            var cv = $("#cv").val();

            if (cv === "") {
                Swal.fire({
                    type: 'error',
                    title: 'Campo Vacío',
                    text: 'Debe seleccionar su curriculum para continuar con el proceso'
                });
            }
        }

        function confirmEmail() {


            var email = document.getElementById("Email").value;

            var confemail = document.getElementById("confemail").value;

            if (email !== confemail) {
                document.getElementById("confemail").value = "";
                document.getElementById("Email").value = "";

                Swal.fire({
                    title: "Hubo un error!",
                    text: "Verifque que los correos electrónicos sean iguales",
                    type: "error",
                    confirmButtonText: 'De Acuerdo'
                });



            }
        }

        function confirmPwd() {


            var pwd = document.getElementById("Password").value;
            var cpwd = document.getElementById("ConfirmPassword").value;

            console.log(pwd);

        }
    </script>
    <script>
        //MUNICIPIOS
        $("#ProvinciaID").change(function () {
            var provinciaId = $(this).val();
            debugger;
            console.log("provinciaID", provinciaId);
            $.ajax({
                type: "post",
                url: "/sgp/Organismo/GetMunicipioList?provinciaId=" + provinciaId,
                contentType: "html",
                success: function (response) {
                    $("#MunicipioID").empty();
                    $("#MunicipioID").append(response);
                }
            });
        });

        //DISTRITOS
        $("#DireccionRegionalID").change(function () {
            var DireccionRegionalID = $(this).val();
            debugger;
            console.log("DireccionRegionalID", DireccionRegionalID);
            $.ajax({
                type: "post",
                url: "/sgp/Organismo/GetDistritosEducativosList?DireccionRegionalID=" + DireccionRegionalID,
                contentType: "html",
                success: function (response) {
                    $("#DistritoEducativoID").empty();
                    $("#DistritoEducativoID").append(response);
                }
            });
        });

        //DPS
        $("#SRSID").change(function () {
            var SRSID = $(this).val();
            debugger;
            console.log("SRSID", SRSID);
            $.ajax({
                type: "post",
                url: "/sgp/Organismo/GetDPSList?SRSID=" + SRSID,
                contentType: "html",
                success: function (response) {
                    $("#DPSID").empty();
                    $("#DPSID").append(response);
                }
            });
        });

    </script>
}