@model ProyectoCalidad.Domain.Entities.ApplicationUser
@section Style
{
    <!-- Custom box css -->
    <link href="~/plugins/custombox/css/custombox.min.css" rel="stylesheet">
}
<!-- Loader -->
@*<div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="spinner-wrapper">
                    <div class="rotator">
                        <div class="inner-spin"></div>
                        <div class="inner-spin"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@




<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title">Perfil de Jurado</h4>
            <ol class="breadcrumb p-0 m-0">
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Usuario </a>
                </li>
                <li class="active">
                    Perfíl
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4">
        <div class="text-center card-box">
            <div class="member-card">
                <div class="thumb-xl member-thumb m-b-10 center-block">
                    @{
                        var imagen = Path.GetFileName(Model.Imagen);


                        if (imagen != "Default.jpg")
                        {

                            <img src="@Url.Content("~/Usuarios/Imagenes/" + Model.NumeroDocumentoIdentidad + "/" + imagen)" class="img-circle img-thumbnail" alt="profile-image">
                            <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                        }
                        else
                        {

                            <img src="@Url.Content("~/Usuarios/Imagenes/" + imagen)" class="img-circle img-thumbnail" alt="profile-image">
                            <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                        }
                    }

                </div>

                <div class="">
                    <h4 class="m-b-5">@Model.Nombre @Model.Apellido</h4>
                    <p class="text-muted">@Model.Email</p>
                </div>

                @*<a href="@Url.Action("VerCV", "Account", new{userID = @Model.Id})" class="btn btn-success btn-sm w-sm waves-effect m-t-10 waves-light">Ver CV</a>*@
                @*<button type="button" onclick="invitar('@Model.Id')" class="btn btn-danger btn-sm w-sm waves-effect m-t-10 waves-light">Enviar Correo</button>*@

                <!-- Responsive modal -->
                @*<a href="#custom-modal-1" class="btn btn-primary waves-effect waves-light m-r-5 m-b-10" data-animation="swell" data-plugin="custommodal"
                    data-overlaySpeed="100" data-overlayColor="#36404a">Swell</a>*@
                <button class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Asignar Jurado</button>

                <a href="@Url.Action("NoAsignado", "Jurado")" class="btn btn-default waves-effect  waves-light">Regresar a la lista</a>

                <p class="text-muted font-13 m-t-20">
                </p>

                <hr />

                <div class="text-left">
                    @*<p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15">Johnathan Deo</span></p>*@

                    <p class="text-muted font-13"><strong>Teléfono :</strong><span class="m-l-15">@Model.Telefono</span></p>

                    @*<p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">coderthemes@gmail.com</span></p>*@

                    <p class="text-muted font-13"><strong>Role :</strong> <span class="m-l-15">@Model.Role</span></p>
                    @if (Model.IsActive)
                    {
                        <p class="text-muted font-13"><strong>Estado :</strong> <span class="m-l-15">Activo</span></p>
                    }
                    else
                    {
                        <p class="text-muted font-13"><strong>Estado :</strong> <span class="m-l-15">Inactivo</span></p>
                    }
                </div>

                <ul class="social-links list-inline m-t-30">
                    <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                    </li>
                </ul>

            </div>

        </div> <!-- end card-box -->

    </div> <!-- end col -->

    <div class="col-md-6 col-lg-9">
        <div class="card-box">

            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <h4>Equipos</h4>

                    <div class=" p-t-10">
                        <h5 class="text-custom m-b-5">Lead designer / Developer</h5>
                        <p class="m-b-0">websitename.com</p>
                        <p><b>2010-2015</b></p>

                        <p class="text-muted font-13 m-b-0">
                            Lorem Ipsum is simply dummy text
                            of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                        </p>
                    </div>

                    <hr />

                    <div class="">
                        <h5 class="text-custom m-b-5">Senior Graphic Designer</h5>
                        <p class="m-b-0">coderthemes.com</p>
                        <p><b>2007-2009</b></p>

                        <p class="text-muted font-13">
                            Lorem Ipsum is simply dummy text
                            of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div> <!-- end col -->

                <div class="col-md-3">
                    <h4>Participación</h4>
                    <div class="col-md-12 col-sm-6">
                        <div class=" thumb">
                            <a href="#" class="image-popup" title="Screenshot-1">
                                <img src="~/Images/shots/shot-1.png" class="thumb-img" alt="work-thumbnail">
                            </a>
                            <div class="gal-detail">
                                <h4>Travel Guide</h4>
                            </div>
                        </div>
                    </div>


                </div>
            </div>



        </div>
    </div>
    <!-- end col -->

</div>
<!-- End row -->
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal Content is Responsive</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="form-group">
                            <label>Seleccione la Institución que este</label>
                            @Html.DropDownList("EquipoEvaluadorID", null, "", new { @class = "form-control select2" })
                        </div><!-- End .from-group -->
                    </div><!-- End .col-sm-6 -->
                </div><!-- End .row -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-info waves-effect waves-light">Guardar</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->


@section scripts
{



    <script src="~/plugins/custombox/js/custombox.min.js"></script>
    <script src="~/plugins/custombox/js/legacy.min.js"></script>

    <script src="~/plugins/jquery-knob/jquery.knob.js"></script>

    <script src="~/plugins/sweetalert2.all.min.js"></script>



    <!-- Modal-Effect -->


}
