@{
    var mensaje = ViewBag.mensaje;
}

@section style{
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">
}
<div class="main">
    <div id="rev_slider_wrapper" class="slider-container-index rev_slider_wrapper rev_container_1 fullwidthbanner-container" data-alias="classicslider1" style="height: 720px !important;">
        <div id="rev_slider" class="rev_slider fullwidthabanner" style="display:none;" style="height: 720px !important;">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-1"
                    data-transition="fade"
                    data-slotamount="7"
                    data-easein="Power4.easeInOut"
                    data-easeout="Power4.easeInOut"
                    data-masterspeed="1200" data-rotate="0"
                    data-thumb="~/Content/assets/images/MAP/P1143321.JPG"
                    data-saveperformance="off" data-title="Success">

                    <!-- MAIN IMAGE -->
                    @*<img src="/sgp/Content/assets/images/MAP/P1143321.JPG" alt="Slider bg 1" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>*@

                    <img src="~/Content/assets/images/MAP/Slide1.jpg" alt="Slider bg 1"
                         data-="center center" data-bgfit="cover"
                         data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- overlay -->
                    <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-transform_idle="o:0.5;"
                         data-transform_in="opacity:0;s:1500;"
                         data-transform_out="o:0;s:1000;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 3; background-color: rgba(0,0,0, 0.5);">
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                         data-fontsize="['17','15','14','12']"
                         data-fontweight="400"
                         data-lineheight="['20','18','16','16']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         data-elementdelay="0"
                         style="        z-index: 5;
        white-space: nowrap;
        letter-spacing: 3px;
        text-transform: uppercase;">
                        @*Ministerio de Administración Pública*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                         data-fontsize="['64','56','48','38']"
                         data-fontweight="700"
                         data-lineheight="['70','64','60','46']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                        @*Premio Nacional a la Calidad*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['32','31','29','20']"
                         data-width="none"
                         data-height="none"
                         data-fontsize="['24','20','18','14']"
                         data-fontweight="400"
                         data-lineheight="['30','24','22','20']"
                         data-visibility="['on', 'on', 'on', 'off']"
                         data-color="#fff"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":2200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 7; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                        @*Avanzamos para ti*@
                    </div>

                    @*<a class="tp-caption btn btn-lg btn-custom min-width tp-resizeme rs-parallaxlevel-0"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['center','center','center','center']" data-voffset="['97','91','80','70']"
               data-witdh="none"
               data-height="none"
               data-whitespace="nowrap"
               data-frames='[{"delay":2600,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-responsive_offset="on"
               style="z-index: 8;"
               href="@Url.Action("PremioNacional", "Premios")">
                ver más
            </a>*@
                </li>

                <li data-index="rs-2" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="~/Content/assets/images/MAP/P1143321.JPG" data-saveperformance="off" data-title="Success">

                    <!-- MAIN IMAGE -->
                    @*<img src="/sgp/Content/assets/images/MAP/P8270697.JPG" alt="Slider bg 2" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>*@

                    <img src="~/Content/assets/images/MAP/Slide2.jpg" alt="Slider bg 2" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- overlay -->
                    <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-transform_idle="o:0.5;"
                         data-transform_in="opacity:0;s:1500;"
                         data-transform_out="o:0;s:1000;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 3; background-color: rgba(0,0,0, 0.5);">
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                         data-fontsize="['17','15','14','12']"
                         data-fontweight="400"
                         data-lineheight="['20','18','16','16']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         data-elementdelay="0"
                         style="z-index: 5; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                        @*Ministerio de Administración Pública*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                         data-fontsize="['44','56','48','38']"
                         data-fontweight="700"
                         data-lineheight="['70','64','60','46']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                        @*Premio a la Calidad de la Provincia de Santiago*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['32','31','29','20']"
                         data-width="none"
                         data-height="none"
                         data-fontsize="['24','20','18','14']"
                         data-fontweight="400"
                         data-lineheight="['30','24','22','20']"
                         data-visibility="['on', 'on', 'on', 'off']"
                         data-color="#fff"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":2200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 7; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                        @*Avanzamos para ti*@
                    </div>

                    @*<a class="tp-caption btn btn-lg btn-custom min-width tp-resizeme rs-parallaxlevel-0"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['center','center','center','center']" data-voffset="['97','91','80','70']"
               data-witdh="none"
               data-height="none"
               data-whitespace="nowrap"
               data-frames='[{"delay":2600,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-responsive_offset="on"
               style="z-index: 8;"
               href="@Url.Action("PremioProvincial", "Premios")">
                ver más
            </a>*@
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-3" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="assets/images/homepages/index/slide2-thumb.jpg" data-saveperformance="off" data-title="Imagination">

                    <!-- MAIN IMAGE -->
                    @*<img src="/sgp/Content/assets/images/MAP/N84A8795.JPG" alt="Slider bg 2" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>*@

                    <img src="~/Content/assets/images/MAP/Slide3.jpg" alt="Slider bg 2" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- overlay -->
                    <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-transform_idle="o:0.5;"
                         data-transform_in="opacity:0;s:1500;"
                         data-transform_out="o:0;s:1000;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 3; background-color: rgba(0,0,0, 0.5);">
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                         data-fontsize="['17','15','14','12']"
                         data-fontweight="400"
                         data-lineheight="['20','18','16','16']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         data-elementdelay="0"
                         style="z-index: 5; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                        @*Ministerio de Administración Pública*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                         data-fontsize="['44','56','48','38']"
                         data-fontweight="700"
                         data-lineheight="['70','64','60','46']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                        @*Reconocimiento*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['32','31','29','20']"
                         data-width="none"
                         data-height="none"
                         data-fontsize="['24','20','18','14']"
                         data-fontweight="400"
                         data-lineheight="['30','24','22','20']"
                         data-visibility="['on', 'on', 'on', 'off']"
                         data-color="#fff"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":2200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 7; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                        @*Avanzamos para ti*@
                    </div>

                    @*<a class="tp-caption btn btn-lg btn-custom2 min-width tp-resizeme rs-parallaxlevel-0"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['center','center','center','center']" data-voffset="['97','91','80','70']"
               data-witdh="none"
               data-height="none"
               data-whitespace="nowrap"
               data-frames='[{"delay":2600,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-responsive_offset="on"
               style="z-index: 8;"
               href="@Url.Action("PremioProvincial", "Premios")">
                ver mas
            </a>*@
                </li>

                <!-- SLIDE  -->
                <li data-index="rs-4" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="assets/images/homepages/index/slide2-thumb.jpg" data-saveperformance="off" data-title="Imagination">

                    <!-- MAIN IMAGE -->
                    @*<img src="/sgp/Content/assets/images/MAP/6. Seguro Nacional de Salud. año 2013.JPG" alt="Slider bg 3" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>*@

                    <img src="~/Content/assets/images/MAP/Slide4.jpg" alt="Slider bg 3" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- overlay -->
                    <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-transform_idle="o:0.5;"
                         data-transform_in="opacity:0;s:1500;"
                         data-transform_out="o:0;s:1000;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 3; background-color: rgba(0,0,0, 0.5);">
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                         data-fontsize="['17','15','14','12']"
                         data-fontweight="400"
                         data-lineheight="['20','18','16','16']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         data-elementdelay="0"
                         style="z-index: 5; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                        @*Ministerio de Administración Pública*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                         data-fontsize="['64','56','48','38']"
                         data-fontweight="700"
                         data-lineheight="['70','64','60','46']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                        @*Premio Nacional a la Calidad*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['32','31','29','20']"
                         data-width="none"
                         data-height="none"
                         data-fontsize="['24','20','18','14']"
                         data-fontweight="400"
                         data-lineheight="['30','24','22','20']"
                         data-visibility="['on', 'on', 'on', 'off']"
                         data-color="#fff"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":2200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 7; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                        @*Avanzamos para ti*@
                    </div>

                    @*<a class="tp-caption btn btn-lg btn-custom2 min-width tp-resizeme rs-parallaxlevel-0"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['center','center','center','center']" data-voffset="['97','91','80','70']"
               data-witdh="none"
               data-height="none"
               data-whitespace="nowrap"
               data-frames='[{"delay":2600,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-responsive_offset="on"
               style="z-index: 8;"
               href="@Url.Action("PremioProvincial", "Premios")">
                Ver más
            </a>*@
                </li>

                <li data-index="rs-5" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="assets/images/homepages/index/slide2-thumb.jpg" data-saveperformance="off" data-title="Imagination">

                    <!-- MAIN IMAGE -->
                    @*<img src="/sgp/Content/assets/images/MAP/N84A8686.JPG" alt="Slider bg 3" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>*@

                    <img src="~/Content/assets/images/MAP/Slide5.jpg" alt="Slider bg 3" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- overlay -->
                    <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-transform_idle="o:0.5;"
                         data-transform_in="opacity:0;s:1500;"
                         data-transform_out="o:0;s:1000;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 3; background-color: rgba(0,0,0, 0.5);">
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                         data-fontsize="['17','15','14','12']"
                         data-fontweight="400"
                         data-lineheight="['20','18','16','16']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         data-elementdelay="0"
                         style="z-index: 5; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                        @*Ministerio de Administración Pública*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                         data-fontsize="['64','56','48','38']"
                         data-fontweight="700"
                         data-lineheight="['70','64','60','46']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                        @*Reconocimiento*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['32','31','29','20']"
                         data-width="none"
                         data-height="none"
                         data-fontsize="['24','20','18','14']"
                         data-fontweight="400"
                         data-lineheight="['30','24','22','20']"
                         data-visibility="['on', 'on', 'on', 'off']"
                         data-color="#fff"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":2200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 7; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                        @*Avanzamos para ti*@
                    </div>

                    @*<a class="tp-caption btn btn-lg btn-custom2 min-width tp-resizeme rs-parallaxlevel-0"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['center','center','center','center']" data-voffset="['97','91','80','70']"
               data-witdh="none"
               data-height="none"
               data-whitespace="nowrap"
               data-frames='[{"delay":2600,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-responsive_offset="on"
               style="z-index: 8;"
               href="@Url.Action("PremioProvincial", "Premios")">
                Ver más
            </a>*@
                </li>

                <li data-index="rs-6" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="assets/images/homepages/index/slide2-thumb.jpg" data-saveperformance="off" data-title="Imagination">

                    <!-- MAIN IMAGE -->
                    @*<img src="/sgp/Content/assets/images/MAP/8B7B1034.JPG" alt="Slider bg 3" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>*@

                    <img src="~/Content/assets/images/MAP/Slide6.jpg" alt="Slider bg 3" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- overlay -->
                    <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-transform_idle="o:0.5;"
                         data-transform_in="opacity:0;s:1500;"
                         data-transform_out="o:0;s:1000;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 3; background-color: rgba(0,0,0, 0.5);">
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                         data-fontsize="['17','15','14','12']"
                         data-fontweight="400"
                         data-lineheight="['20','18','16','16']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         data-elementdelay="0"
                         style="z-index: 5; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                        @*República Dominicana*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                         data-fontsize="['55','56','48','38']"
                         data-fontweight="700"
                         data-lineheight="['70','64','60','46']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                        @*Ministerio de Administración Pública*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['32','31','29','20']"
                         data-width="none"
                         data-height="none"
                         data-fontsize="['24','20','18','14']"
                         data-fontweight="400"
                         data-lineheight="['30','24','22','20']"
                         data-visibility="['on', 'on', 'on', 'off']"
                         data-color="#fff"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":2200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 7; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                        @*Avanzamos para ti*@
                    </div>

                    @*<a class="tp-caption btn btn-lg btn-custom2 min-width tp-resizeme rs-parallaxlevel-0"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['center','center','center','center']" data-voffset="['97','91','80','70']"
               data-witdh="none"
               data-height="none"
               data-whitespace="nowrap"
               data-frames='[{"delay":2600,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-responsive_offset="on"
               style="z-index: 8;"
               href="@Url.Action("PremioProvincial", "Premios")">
                Ver más
            </a>*@
                </li>

                <li data-index="rs-7" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="assets/images/homepages/index/slide2-thumb.jpg" data-saveperformance="off" data-title="Imagination">

                    <!-- MAIN IMAGE -->
                    @*<img src="/sgp/Content/assets/images/MAP/8B7B1034.JPG" alt="Slider bg 3" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>*@

                    <img src="~/Content/assets/images/MAP/Slide7.jpg" alt="Slider bg 3" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- overlay -->
                    <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-transform_idle="o:0.5;"
                         data-transform_in="opacity:0;s:1500;"
                         data-transform_out="o:0;s:1000;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 3; background-color: rgba(0,0,0, 0.5);">
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                         data-fontsize="['17','15','14','12']"
                         data-fontweight="400"
                         data-lineheight="['20','18','16','16']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         data-elementdelay="0"
                         style="z-index: 5; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                        @*República Dominicana*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                         data-fontsize="['55','56','48','38']"
                         data-fontweight="700"
                         data-lineheight="['70','64','60','46']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                        @*Ministerio de Administración Pública*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['32','31','29','20']"
                         data-width="none"
                         data-height="none"
                         data-fontsize="['24','20','18','14']"
                         data-fontweight="400"
                         data-lineheight="['30','24','22','20']"
                         data-visibility="['on', 'on', 'on', 'off']"
                         data-color="#fff"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":2200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 7; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                        @*Avanzamos para ti*@
                    </div>

                    @*<a class="tp-caption btn btn-lg btn-custom2 min-width tp-resizeme rs-parallaxlevel-0"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['center','center','center','center']" data-voffset="['97','91','80','70']"
               data-witdh="none"
               data-height="none"
               data-whitespace="nowrap"
               data-frames='[{"delay":2600,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-responsive_offset="on"
               style="z-index: 8;"
               href="@Url.Action("PremioProvincial", "Premios")">
                Ver más
            </a>*@
                </li>

                @*Slide8*@
                <li data-index="rs-7" data-transition="fade" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1200" data-rotate="0" data-thumb="assets/images/homepages/index/slide2-thumb.jpg" data-saveperformance="off" data-title="Imagination">

                    <!-- MAIN IMAGE -->
                    @*<img src="/sgp/Content/assets/images/MAP/8B7B1034.JPG" alt="Slider bg 3" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>*@

                    <img src="~/Content/assets/images/MAP/Slide8.jpg" alt="Slider bg 3" data-bgposition="center center" data-bgfit="cover" data-duration="11000" data-bgparallax="10" data-ease="Linear.easeNone" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- overlay -->
                    <div class="tp-caption tp-shape tp-shapewrapper rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
                         data-width="full"
                         data-height="full"
                         data-whitespace="nowrap"
                         data-transform_idle="o:0.5;"
                         data-transform_in="opacity:0;s:1500;"
                         data-transform_out="o:0;s:1000;"
                         data-start="1000"
                         data-basealign="slide"
                         data-responsive_offset="on"
                         data-responsive="off"
                         style="z-index: 3; background-color: rgba(0,0,0, 0.5);">
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-81','-71','-65','-60']"
                         data-fontsize="['17','15','14','12']"
                         data-fontweight="400"
                         data-lineheight="['20','18','16','16']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1400,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         data-elementdelay="0"
                         style="z-index: 5; white-space: nowrap; letter-spacing: 3px; text-transform: uppercase;">
                        @*República Dominicana*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['-26','-22','-20','-21']"
                         data-fontsize="['55','56','48','38']"
                         data-fontweight="700"
                         data-lineheight="['70','64','60','46']"
                         data-color="#fff"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1800,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 6; text-shadow:0 1px 3px rgba(0,0,0, 0.2); letter-spacing: 1.5px; text-transform: uppercase;">
                        @*Ministerio de Administración Pública*@
                    </div>

                    <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['center','center','center','center']" data-voffset="['32','31','29','20']"
                         data-width="none"
                         data-height="none"
                         data-fontsize="['24','20','18','14']"
                         data-fontweight="400"
                         data-lineheight="['30','24','22','20']"
                         data-visibility="['on', 'on', 'on', 'off']"
                         data-color="#fff"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":2200,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         data-responsive_offset="on"
                         style="z-index: 7; text-shadow:0 1px 1px rgba(0,0,0, 0.1); letter-spacing: 2px; text-transform: uppercase;">
                        @*Avanzamos para ti*@
                    </div>

                    @*<a class="tp-caption btn btn-lg btn-custom2 min-width tp-resizeme rs-parallaxlevel-0"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['center','center','center','center']" data-voffset="['97','91','80','70']"
               data-witdh="none"
               data-height="none"
               data-whitespace="nowrap"
               data-frames='[{"delay":2600,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-responsive_offset="on"
               style="z-index: 8;"
               href="@Url.Action("PremioProvincial", "Premios")">
                Ver más
            </a>*@
                </li>
    

            </ul>
            <div class="tp-bannertimer tp-bottom" style="height: 4px; background-color: rgba(255, 255, 255, 0.35);"></div>
        </div><!-- End #rev_slider -->
    </div><!-- END REVOLUTION SLIDER -->

    <div class="mb55 mb45-sm mb35-xs"></div><!-- margin -->

    <div class="container">
        <div class="row">
            <h1 class="text-center" style="color: #0069b0; font-family: 'Oswald'"><b>DATOS HISTÓRICOS</b></h1>
            <br />
            <div class="col-md-3 col-sm-4 col-xs-6 count-container">
                <i class="fa fa-users count-icon custom"></i>
                <span class="count" data-from="0" data-to="629" data-speed="3000" data-refresh-interval="50">0</span>
                <h4 class="count-title">Postulantes</h4>
            </div><!-- End .col-md-2 -->
            <div class="col-md-3 col-sm-4 col-xs-6 count-container">
                <i class="fa fa-user count-icon custom"></i>
                <span class="count" data-from="0" data-to="231" data-speed="3000" data-refresh-interval="50">0</span>
                <h4 class="count-title">Reconocidos</h4>
            </div><!-- End .col-md-2 -->
            <div class="col-md-3 col-sm-4 col-xs-6 count-container">
                <i class="fa fa-file-code-o count-icon custom"></i>
                <span class="count" data-from="0" data-to="185" data-speed="3000" data-refresh-interval="50">0</span>
                <h4 class="count-title">Evaluadores</h4>
            </div><!-- End .col-md-2 -->
            <div class="col-md-3 col-sm-4 col-xs-6 count-container">
                <i class="fa fa-heart  count-icon custom"></i>
                <span class="count" data-from="0" data-to="21" data-speed="3000" data-refresh-interval="50">0</span>
                <h4 class="count-title">Miembros del jurado</h4>
            </div><!-- End .col-md-2 -->

        </div><!-- End .row -->
    </div>
    <div class="border pt50 pb20">
        <div class="bg-lightgray border pt55 pb40">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4" style="height: 300px">
                       
                        <div class="text-block hover-bg text-left boxshadow" style="background-image: url(/sgp/Content/assets/images/MAP/2.png); height: 100%;">

                            @*<div class="text-block hover-bg text-left boxshadow" style="background-image: url(/sgp/Content/assets/images/MAP/2.png); height: 100%;">*@
                            <h1 style="margin-top: 10%" class="block-title"><a href="@Url.Action("PremioNacional", "Premios")" style="color: #efefef; font-size: 2em; font-weight: 800; font-family: 'Oswald', sans-serif;">Premio Nacional a la Calidad</a></h1>
                            <a href="@Url.Action("PremioNacional", "Premios")" class="readmore" style="margin-top: 100px; font-size: 15px;">ver <i class="fa fa-angle-double-left"></i></a>
                        </div><!-- End .text-block -->
                    </div><!-- End .col-md-3 -->


                    <div class="clearfix visible-sm"></div><!-- End .clearfix -->

                    <div class="col-sm-4 col-md-4" style="height:300px">
                        @*<div class="text-block hover-bg text-center  boxshadow" style="background-image: url(/sgp/Content/assets/images/MAP/3.png); height:100%">*@
                        <div class="text-block hover-bg text-center  boxshadow" style="background-image: url(/sgp/Content/assets/images/MAP/3.png); height:100%">

                            <h1 style="margin-top: 10%" class="block-title"><a href="@Url.Action("PremioProvincial", "Premios")" style="color: #efefef; font-size: 2em; font-weight: 800; font-family: 'Oswald', sans-serif;">Premio a la Calidad de los Servicios de la Provincia de Santiago</a></h1> @*Solo debe aparecer información*@
                            <a href="#" class="readmore" style="margin-top: 65px; font-size: 15px;">ver <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- End .text-block -->
                    </div><!-- End .col-md-3 -->


                    <div class="col-sm-4 col-md-4" style="height:300px">
                        <div class="text-block hover-bg text-right boxshadow" style="background-image: url(/sgp/Content/assets/images/MAP/1.png); height:100%">
                            @*<div class="text-block hover-bg text-right boxshadow" style="background-image: url(/sgp/Content/assets/images/MAP/1.png); height:100%">*@

                            <h1 style="margin-top: 10%" class="block-title"><a href="@Url.Action("PremioInstitucional", "Premios")" style="color: #efefef; font-size: 2em; font-weight: 800; font-family: 'Oswald', sans-serif;">Premio Institucional a las Mejores Prácticas </a></h1>
                            <a href="@Url.Action("PremioInstitucional", "Premios")" class="readmore" style="margin-top: 100px; font-size: 15px;">ver <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- End .text-block -->
                    </div><!-- End .col-md-3 -->

                </div><!-- End .row -->

            </div><!-- End .container -->
            @*<div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="title custom">Amazing Template</h2>
                            <p class="lead smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi officia distinctio quos accusantium fugit dolor.</p>

                            <p>Aliquid numquam quo, neque eius quas rem soluta est dicta laboriosam dolores quisquam temporibus quod consectetur cumque voluptas animi blandit.</p>

                            <div class="mb5"></div><!-- margin -->

                            <ul class="fa-ul">
                                <li><i class="fa fa-check-square fa-li text-custom"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                <li><i class="fa fa-check-square fa-li text-custom"></i>Harum similique laudantium doloribus error? Odio tempore accusantium vel modi vitae quaerat sit vel.</li>
                                <li><i class="fa fa-check-square fa-li text-custom"></i>Quam tenetur atque consectetur officiis, magni, cumque totam voluptat tempore rerum.</li>
                                <li><i class="fa fa-check-square fa-li text-custom"></i>Veritatis assumenda dolore incidunt fugit nihil quia nemo ex autem.</li>
                            </ul>
                        </div><!-- End .col-md-6 -->
                        <div class="col-md-6">
                            <div class="mb10"></div><!-- margin -->
                            <img src="~/Content/assets/images/devices.png" alt="Devices" class="img-responsive center-block">
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->*@
        </div><!-- bg-lightgray -->

        <div class="mb50"></div><!-- margin -->
        @*<div class="container">
                <h2 class="title custom text-center">Ganadores más recientes</h2>
                <ul id="portfolio-filter" class="text-center mb40">
                    <li class="active"><a href="#" data-filter="*">Todos</a></li>
                    <li><a href="#" data-filter=".web-design">Tipo de ganador A</a></li>
                    <li><a href="#" data-filter=".marketing">Tipo ganador B</a></li>
                    <li><a href="#" data-filter=".wordpress">Tipo ganador C</a></li>
                    <li><a href="#" data-filter=".illustration">Reconocimiento A</a></li>
                    <li><a href="#" data-filter=".logo-design">Reconocimiento B</a></li>
                </ul>

                <div id="portfolio-item-container" class="popup-gallery max-col-4 mb60" data-layoutmode="fitRows">
                    <div class="portfolio-item portfolio-anim web-design wordpress">
                        <figure>
                            <img src="~/Content/assets/images/portfolio/grid/item1.jpg" alt="Portfolio Name">
                            <figcaption>
                                <a href="~/Content/assets/images/portfolio/grid/item1.jpg" data-thumb="~/Content/assets/images/portfolio/grid/item1.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                                <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                            </figcaption>
                        </figure>
                        <div class="portfolio-meta">
                            <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                            <div class="portfolio-tags">
                                <a href="#">Design</a>,
                                <a href="#">Wordpress</a>,
                                <a href="#">Logo</a>
                            </div><!-- End .portfolio-tags -->
                        </div><!-- End .portfolio-meta -->
                    </div><!-- End .portfolio-item -->

                    <div class="portfolio-item portfolio-anim video marketing">
                        <figure>
                            <img src="~/Content/assets/images/portfolio/grid/item2.jpg" alt="Portfolio Name">
                            <figcaption>
                                <a href="http://www.youtube.com/watch?v=jt8YicG-F6c" data-thumb="~/Content/assets/images/portfolio/grid/item2.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                                <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                            </figcaption>
                        </figure>
                        <div class="portfolio-meta">
                            <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                            <div class="portfolio-tags">
                                <a href="#">Video</a>,
                                <a href="#">Wordpress</a>,
                                <a href="#">Logo</a>
                            </div><!-- End .portfolio-tags -->
                        </div><!-- End .portfolio-meta -->
                    </div><!-- End .portfolio-item -->

                    <div class="portfolio-item portfolio-anim web-design logo-design wordpress">
                        <figure>
                            <img src="~/Content/assets/images/portfolio/grid/item3.jpg" alt="Portfolio Name">
                            <figcaption>
                                <a href="~/Content/assets/images/portfolio/grid/item3.jpg" data-thumb="~/Content/assets/images/portfolio/grid/item3.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                                <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                            </figcaption>
                        </figure>
                        <div class="portfolio-meta">
                            <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                            <div class="portfolio-tags">
                                <a href="#">Design</a>,
                                <a href="#">Wordpress</a>,
                                <a href="#">Logo</a>
                            </div><!-- End .portfolio-tags -->
                        </div><!-- End .portfolio-meta -->
                    </div><!-- End .portfolio-item -->

                    <div class="portfolio-item portfolio-anim web-design wordpress illustration">
                        <figure>
                            <img src="~/Content/assets/images/portfolio/grid/item4.jpg" alt="Portfolio Name">
                            <figcaption>
                                <a href="~/Content/assets/images/portfolio/grid/item4.jpg" data-thumb="~/Content/assets/images/portfolio/grid/item4.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                                <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                            </figcaption>
                        </figure>
                        <div class="portfolio-meta">
                            <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                            <div class="portfolio-tags">
                                <a href="#">Design</a>,
                                <a href="#">Wordpress</a>,
                                <a href="#">Logo</a>
                            </div><!-- End .portfolio-tags -->
                        </div><!-- End .portfolio-meta -->
                    </div><!-- End .portfolio-item -->

                    <div class="portfolio-item portfolio-anim logo-design video marketing">
                        <figure>
                            <img src="~/Content/assets/images/portfolio/grid/item5.jpg" alt="Portfolio Name">
                            <figcaption>
                                <a href="~/Content/assets/images/portfolio/grid/item5.jpg" data-thumb="~/Content/assets/images/portfolio/grid/item5.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                                <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                            </figcaption>
                        </figure>
                        <div class="portfolio-meta">
                            <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                            <div class="portfolio-tags">
                                <a href="#">Design</a>,
                                <a href="#">Wordpress</a>,
                                <a href="#">Logo</a>
                            </div><!-- End .portfolio-tags -->
                        </div><!-- End .portfolio-meta -->
                    </div><!-- End .portfolio-item -->

                    <div class="portfolio-item portfolio-anim illustration wordpress">
                        <figure>
                            <img src="~/Content/assets/images/portfolio/grid/item6.jpg" alt="Portfolio Name">
                            <figcaption>
                                <a href="~/Content/assets/images/portfolio/grid/item6.jpg" data-thumb="~/Content/assets/images/portfolio/grid/item6.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                                <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                            </figcaption>
                        </figure>
                        <div class="portfolio-meta">
                            <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                            <div class="portfolio-tags">
                                <a href="#">Design</a>,
                                <a href="#">Wordpress</a>,
                                <a href="#">Logo</a>
                            </div><!-- End .portfolio-tags -->
                        </div><!-- End .portfolio-meta -->
                    </div><!-- End .portfolio-item -->

                    <div class="portfolio-item portfolio-anim video marketing illustration">
                        <figure>
                            <img src="~/Content/assets/images/portfolio/grid/item7.jpg" alt="Portfolio Name">
                            <figcaption>
                                <a href="~/Content/assets/images/portfolio/grid/item7.jpg" data-thumb="~/Content/assets/images/portfolio/grid/item7.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                                <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                            </figcaption>
                        </figure>
                        <div class="portfolio-meta">
                            <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                            <div class="portfolio-tags">
                                <a href="#">Design</a>,
                                <a href="#">Wordpress</a>,
                                <a href="#">Logo</a>
                            </div><!-- End .portfolio-tags -->
                        </div><!-- End .portfolio-meta -->
                    </div><!-- End .portfolio-item -->

                    <div class="portfolio-item portfolio-anim wordpress">
                        <figure>
                            <img src="~/Content/assets/images/portfolio/grid/item8.jpg" alt="Portfolio Name">
                            <figcaption>
                                <a href="~/Content/assets/images/portfolio/grid/item8.jpg" data-thumb="~/Content/assets/images/portfolio/grid/item8.jpg" class="zoom-btn"><i class="fa fa-search"></i></a>
                                <a href="single-portfolio.html" class="link-btn"><i class="fa fa-link"></i></a>
                            </figcaption>
                        </figure>
                        <div class="portfolio-meta">
                            <h3 class="portfolio-title"><a href="#" title="Portfolio name">Tempore aliquam veritatis saper</a></h3>
                            <div class="portfolio-tags">
                                <a href="#">Design</a>,
                                <a href="#">Wordpress</a>,
                                <a href="#">Logo</a>
                            </div><!-- End .portfolio-tags -->
                        </div><!-- End .portfolio-meta -->
                    </div><!-- End .portfolio-item -->
                </div><!-- End .portfolio-item-container -->
            </div><!-- End .container -->

            <div class="mb10"></div><!-- margin -->

            <div class="testimonials-container pt50 bg-lightgray border text-center">

                <div class="container">
                    <h2 class="title text-center custom mb25">Latest News</h2>
                    <div class="blog-row">
                        <div id="blog-item-container" class="max-col-4">
                            <article class="entry entry-grid">
                                <div class="entry-media">
                                    <figure>
                                        <a href="single.html"><img src="~/Content/assets/images/blog/post1.jpg" alt="Post image"></a>
                                    </figure>
                                    <div class="entry-meta">
                                        <span><i class="fa fa-calendar"></i>17 Jan, 2016</span>
                                        <a href="#"><i class="fa fa-user"></i> Admin</a>
                                    </div><!-- End .entry-media -->
                                </div><!-- End .entry-media -->
                                <h2 class="entry-title"><i class="fa fa-file-image-o"></i><a href="single.html">Lorem ipsum dolor sit ametli elits.</a></h2>
                                <div class="entry-content">
                                    <p>Molestiae neque doloremque, voluptatum nostrum praesentium esse fugiat.</p>
                                    <a href="#" class="readmore">Read more<i class="fa fa-angle-right"></i></a>
                                </div><!-- End .entry-content -->
                            </article>

                            <article class="entry entry-grid">
                                <div class="entry-media">
                                    <figure id="blog-post-gallery" class="carousel slide" data-ride="carousel" data-interval="10000">
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <a href="single.html"><img src="~/Content/assets/images/blog/post2.jpg" alt="Post image"></a>
                                            </div><!-- End .item -->

                                            <div class="item">
                                                <a href="single.html"><img src="~/Content/assets/images/blog/post3.jpg" alt="Post image"></a>
                                            </div><!-- End .item -->
                                        </div><!-- End .carousel-inner -->
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#blog-post-gallery" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                                        <a class="right carousel-control" href="#blog-post-gallery" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                                    </figure><!-- End .carousel -->

                                    <div class="entry-meta">
                                        <span><i class="fa fa-calendar"></i>14 Jan, 2016</span>
                                        <a href="#"><i class="fa fa-user"></i> Admin</a>
                                    </div><!-- End .entry-meta -->
                                </div><!-- End .entry-media -->
                                <h2 class="entry-title"><i class="fa fa-file-image-o"></i><a href="single.html">Lorem ipsum dolor sit ametli elits.</a></h2>
                                <div class="entry-content">
                                    <p>Molestiae neque doloremque, voluptatum nostrum praesentium esse fugiat.</p>
                                    <a href="#" class="readmore">Read more<i class="fa fa-angle-right"></i></a>
                                </div><!-- End .entry-content -->
                            </article>

                            <article class="entry entry-grid">
                                <div class="entry-media">
                                    <figure class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/33259372?color=ffffff" width="500" height="281" allowfullscreen></iframe>
                                    </figure><!-- End .embed-responsive -->
                                    <div class="entry-meta">
                                        <span><i class="fa fa-calendar"></i>17 Jan, 2016</span>
                                        <a href="#"><i class="fa fa-user"></i> Admin</a>
                                    </div><!-- End .entry-media -->
                                </div><!-- End .entry-media -->
                                <h2 class="entry-title"><i class="fa fa-file-movie-o"></i><a href="single.html">Lorem ipsum dolor sit ametli elits.</a></h2>
                                <div class="entry-content">
                                    <p>Molestiae neque doloremque, voluptatum nostrum praesentium esse fugiat.</p>
                                    <a href="#" class="readmore">Read more<i class="fa fa-angle-right"></i></a>
                                </div><!-- End .entry-content -->
                            </article>

                            <article class="entry entry-grid">
                                <div class="entry-media">
                                    <figure>
                                        <blockquote>
                                            <p>Molestias reprehenderit laborum labore itaque fugiat voluptates aperiam at, suscipit vero.</p>
                                            <cite>-- James Lee Smith</cite>
                                        </blockquote>
                                    </figure>
                                    <div class="entry-meta">
                                        <span><i class="fa fa-calendar"></i>17 Jan, 2016</span>
                                        <a href="#"><i class="fa fa-user"></i> Admin</a>
                                    </div><!-- End .entry-media -->
                                </div><!-- End .entry-media -->
                                <h2 class="entry-title"><i class="fa fa-file-code-o"></i><a href="single.html">Lorem ipsum dolor sit ametli elits.</a></h2>
                                <div class="entry-content">
                                    <p>Molestiae neque doloremque, voluptatum nostrum praesentium esse fugiat.</p>
                                    <a href="#" class="readmore">Read more<i class="fa fa-angle-right"></i></a>
                                </div><!-- End .entry-content -->
                            </article>

                            <article class="entry entry-grid">
                                <div class="entry-media">
                                    <figure>
                                        <a href="single.html"><img src="~/Content/assets/images/blog/post4.jpg" alt="Post image"></a>
                                    </figure>
                                    <div class="entry-meta">
                                        <span><i class="fa fa-calendar"></i>17 Jan, 2016</span>
                                        <a href="#"><i class="fa fa-user"></i> Admin</a>
                                    </div><!-- End .entry-media -->
                                </div><!-- End .entry-media -->
                                <h2 class="entry-title"><i class="fa fa-file-audio-o"></i><a href="single.html">Lorem ipsum dolor sit ametli elits.</a></h2>
                                <div class="entry-content">
                                    <p>Molestiae neque doloremque, voluptatum nostrum praesentium esse fugiat.</p>
                                    <a href="#" class="readmore">Read more<i class="fa fa-angle-right"></i></a>
                                </div><!-- End .entry-content -->
                            </article>

                            <article class="entry entry-grid">
                                <div class="entry-media">
                                    <figure>
                                        <a href="single.html"><img src="~/Content/assets/images/blog/post7.jpg" alt="Post image"></a>
                                    </figure>
                                    <div class="entry-meta">
                                        <span><i class="fa fa-calendar"></i>17 Jan, 2016</span>
                                        <a href="#"><i class="fa fa-user"></i> Admin</a>
                                    </div><!-- End .entry-media -->
                                </div><!-- End .entry-media -->
                                <h2 class="entry-title"><i class="fa fa-file-image-o"></i><a href="single.html">Lorem ipsum dolor sit ametli elits.</a></h2>
                                <div class="entry-content">
                                    <p>Molestiae neque doloremque, voluptatum nostrum praesentium esse fugiat.</p>
                                    <a href="#" class="readmore">Read more<i class="fa fa-angle-right"></i></a>
                                </div><!-- End .entry-content -->
                            </article>

                            <article class="entry entry-grid">
                                <div class="entry-media">
                                    <figure id="blog-post-gallery2" class="carousel slide" data-ride="carousel" data-interval="12000">
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <a href="single.html"><img src="~/Content/assets/images/blog/post5.jpg" alt="Post image"></a>
                                            </div><!-- End .item -->

                                            <div class="item">
                                                <a href="single.html"><img src="~/Content/assets/images/blog/post6.jpg" alt="Post image"></a>
                                            </div><!-- End .item -->
                                        </div><!-- End .carousel-inner -->
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#blog-post-gallery2" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                                        <a class="right carousel-control" href="#blog-post-gallery2" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                                    </figure><!-- End .carousel -->

                                    <div class="entry-meta">
                                        <span><i class="fa fa-calendar"></i>14 Jan, 2016</span>
                                        <a href="#"><i class="fa fa-user"></i> Admin</a>
                                    </div><!-- End .entry-meta -->
                                </div><!-- End .entry-media -->
                                <h2 class="entry-title"><i class="fa fa-file-image-o"></i><a href="single.html">Lorem ipsum dolor sit ametli elits.</a></h2>
                                <div class="entry-content">
                                    <p>Molestiae neque doloremque, voluptatum nostrum praesentium esse fugiat.</p>
                                    <a href="#" class="readmore">Read more<i class="fa fa-angle-right"></i></a>
                                </div><!-- End .entry-content -->
                            </article>

                            <article class="entry entry-grid">
                                <div class="entry-media">
                                    <figure>
                                        <a href="single.html"><img src="~/Content/assets/images/blog/post8.jpg" alt="Post image"></a>
                                    </figure>
                                    <div class="entry-meta">
                                        <span><i class="fa fa-calendar"></i>17 Jan, 2016</span>
                                        <a href="#"><i class="fa fa-user"></i> Admin</a>
                                    </div><!-- End .entry-media -->
                                </div><!-- End .entry-media -->
                                <h2 class="entry-title"><i class="fa fa-file-image-o"></i><a href="single.html">Lorem ipsum dolor sit ametli elits.</a></h2>
                                <div class="entry-content">
                                    <p>Molestiae neque doloremque, voluptatum nostrum praesentium esse fugiat.</p>
                                    <a href="#" class="readmore">Read more<i class="fa fa-angle-right"></i></a>
                                </div><!-- End .entry-content -->
                            </article>
                        </div><!-- End #blog-item-container -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .testimonial-container -->*@


    </div><!-- End .bg-lightgray -->

</div><!-- End .main -->

@section Scripts{
    <script type="text/javascript" src="~/Content/assets/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Content/assets/sweetalert2.all.min.js"></script>

    @*<script type="text/javascript" src="/sgp/Content/assets/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="/sgp/Content/assets/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="/sgp/Content/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="/sgp/Content/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="/sgp/Content/assets/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="/sgp/Content/assets/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="/sgp/Content/assets/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="/sgp/Content/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="/sgp/Content/assets/js/extensions/revolution.extension.video.min.js"></script>*@

    <script type="text/javascript">
        jQuery(document).ready(function () {

            if ('@mensaje.tipo'.length > 0) {
                Swal.fire({
                    type: '@mensaje.tipo',
                    title: '@mensaje.mensaje',
                    html: '@mensaje.texto'
                });
            }

            if ('@TempData["mensaje"]' === 'usuarioCreado') {
                Swal.fire({
                    type: 'success',
                    title: 'Registro Completo',
                    text: 'Ya puede comenzar a registrar su institución en el premio'
                });
            }

            if ('@TempData["mensaje"]' === 'institucionNoExiste') {
                Swal.fire({
                    type: 'error',
                    title: 'Sin Resultado',
                    text: '@TempData["texto"]'
                });
            }
            if ('@TempData["mensaje"]' === 'documentoInvalido') {
                Swal.fire({
                    type: 'error',
                    title: 'Documento Inválido!',
                    html: '@TempData["texto"]'
                });
            }
            if ('@TempData["mensaje"]' === 'institucionRegistrada') {
                Swal.fire({
                    type: 'success',
                    title: 'Institución Registrada!',
                    html: 'La coordinación estará revisando los detalles, pronto recibirá un correo con los detalles de la revisión'
                });
            }
            if ('@TempData["mensaje"]' === 'noEsCoordinador') {
                Swal.fire({
                    type: 'error',
                    title: 'Proceso inválido',
                    html: '@TempData["texto"]'
                });
            }
            var revapi;
            if ($("#rev_slider").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider");
            } else {
                revapi = $("#rev_slider").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "assets/js/",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 15000,
                    navigation: {
                        mouseScrollNavigation: "off",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on"
                        },
                        arrows: {
                            style: "custom",
                            enable: true,
                            hide_onmobile: false,
                            hide_under: 768,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 0,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 0,
                                v_offset: 0
                            }
                        },
                        bullets: {
                            enable: true,
                            style: "hades",
                            hide_onmobile: false,
                            hide_onleave: false,
                            hide_under: 768,
                            direction: "horizontal",
                            h_align: "center",
                            v_align: "bottom",
                            h_offset: 0,
                            v_offset: 15,
                            space: 5,
                            tmp: '<span class="tp-bullet-image"></span>'
                        }
                    },
                    autoHeight: "off",					
                    responsiveLevels: [1200, 992, 768, 480],
                    gridwidth: [1140, 970, 750, 480],
                    gridheight: [820, 440, 360, 300],
                    lazyType: "smart",
                    spinner: "spinner2",
                    parallax: {
                        type: "off",
                        origo: "slidercenter",
                        speed: 2000,
                        levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                        disable_onmobile: "on"
                    },
                    debugMode: false
                });
            }
        });
    </script>
}