
@{
    ViewBag.Title = "Referencias";
}

<div class="main">
    <div class="page-header larger parallax custom" style="background-image:url(assets/images/page-header-bg.jpg)">
        <div class="container">
            <h1>Documentaciones y Referencias</h1>

        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="widget">
                    <h2 class="widget-title">Modelo de Excelencia Marco Común de Evaluación CAF</h2>
                    <ul class="posts-list">
                        <li style="padding-bottom:10px">
                            <figure>
                                <a href="@Url.Content("~/Documentaciones/Modelo-Marco-Común-de-Evaluación-area-educativa-version-2010.pdf")" title="Modelo CAF Unidades Educativas"><img style="width: 30px" src="~/Content/assets/images/MAP/iconos-png/pdf-png-dwl.png" alt="Post"></a>
                            </figure>
                            <h5><a href="@Url.Content("~/Documentaciones/Modelo-Marco-Común-de-Evaluación-area-educativa-version-2010.pdf")">Modelo CAF Unidades Educativas 2010</a></h5>
                        </li>
                        <li>
                            <figure>
                                <a href="@Url.Content("~/Documentaciones/Modelo-Marco-Común-de-Evaluación-version-2013.pdf")" title="Modelo CAF para Organizaciones"><img style="width: 30px" src="~/Content/assets/images/MAP/iconos-png/pdf-png-dwl.png" alt="Post"></a>
                            </figure>
                            <h5><a href="@Url.Content("~/Documentaciones/Modelo-Marco-Común-de-Evaluación-version-2013.pdf")">Modelo CAF para Organizaciones 2013</a></h5>
                        </li>

                    </ul>
                </div><!-- End .widget -->
            </div>

            @*<div class="col-md-4 col-sm-6">
                <div class="widget">
                    <h2 class="widget-title">Estadísticas</h2>
                    <ul class="posts-list">
                        <li style="padding-bottom:10px">
                            <figure>
                                <a href="@Url.Content("~/Documentaciones/Estadisticas-reconocimientos-2005-2018PNC.pdf")" title="Premio Nacional a la Calidad 2005 - 2018"><img style="width: 30px" src="~/Content/assets/images/MAP/iconos-png/pdf-png-dwl.png" alt="Post"></a>
                            </figure>
                            <h5><a href="@Url.Content("~/Documentaciones/Estadisticas-reconocimientos-2005-2018PNC.pdf")">Premio Nacional a la Calidad 2005 - 2018</a></h5>
                        </li>
                        <li>
                            <figure>
                                <a href="@Url.Content("~/Documentaciones/Estadisticas-reconocimientos-2014-2018PPC.pdf")" title="Premio a la Calidad de la Provincia Santiago 2014- 2018 "><img style="width: 30px" src="~/Content/assets/images/MAP/iconos-png/pdf-png-dwl.png" alt="Post"></a>
                            </figure>
                            <h5><a href="@Url.Content("~/Documentaciones/Estadisticas-reconocimientos-2014-2018PPC.pdf")">Premio a la Calidad de la Provincia Santiago 2014- 2018</a></h5>
                        </li>

                    </ul>
                </div><!-- End .widget -->
            </div>*@

            <div class="col-md-4 col-sm-6">
                <div class="widget">
                    <h2 class="widget-title">Carta Iberoamericana de la Calidad</h2>
                    <ul class="posts-list">
                        <li style="padding-bottom:10px">
                            <figure>
                                <a href="@Url.Content("~/Documentaciones/carta-iberoamericana-de-la-calidad.pdf")" title="Carta Iberoamericana de la Calidad"><img style="width: 30px" src="~/Content/assets/images/MAP/iconos-png/pdf-png-dwl.png" alt="Post"></a>
                            </figure>
                            <h5><a href="@Url.Content("~/Documentaciones/carta-iberoamericana-de-la-calidad.pdf")">Carta Iberoamericana de la Calidads</a></h5>
                        </li>


                    </ul>
                </div><!-- End .widget -->
            </div>



        </div>
        <hr />
        <div class="row">
            @*<div class="col-md-6">
                <h2>Preguntas Frecuentes</h2>
                <div class="panel-group" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-custom">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" class="collapsed">
                                    ¿Cómo Postularse?
                                </a>
                            </h4>
                        </div> End .panel-heading 
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <ul style="margin-left: 20px">
                                    <li><i class="fa fa-check"></i> Conocer el Modelo Marco Común de Evaluación (CAF), a través de una capacitación que imparte la <i>Direccíón de Evaluación de la Gestión
                                        Institucional</i> del Ministerio de Administraçión Pública.</li>
                                    <li><i class="fa fa-check"></i> Registrarse en esta plataforma.</li>
                                    <li><i class="fa fa-check"></i> Realizar la autoevaluación.</li>
                                    <li><i class="fa fa-check"></i> Redactar la memoria de postulación.</li>
                                    <li><i class="fa fa-calendar"></i> Cumplir con las fechas establecidas en el calendario de la premiación.</li>
                                    
                                    
                                    
                                    
                                    
                                </ul>
                            </div> End .panel-body 
                        </div> End .panel-collapse 
                    </div> End .panel 
                    <div class="panel panel-custom">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    Evaluadores
                                </a>
                            </h4>
                        </div> End .panel-heading 
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <p style="text-align: justify">
                                    Un evaluador tiene la responsabilidad de valorar las Memorias de Postulación que presentan las instituciones y de elaborar el Informe de Retorno que utilizan los miembros del jurado para seleccionar las orga¬nizaciones que serán galardonadas. Pudiendo ser seleccionados de instituciones del sector público, privado
                                    y personas independientes con conocimientos de gestión humana, planificación, procesos, calidad, entre otros.
                                </p>
                                <p>
                                    Presentando su solicitud al correo <a href="mailto:premio.calidad@map.gob.do">premio.calidad@map.gob.do </a>  donde se le darán los detalles generales.
                                </p>
                            </div> End .panel-body 
                        </div> End .panel-collapse 
                    </div> End .panel 
                    <div class="panel panel-custom">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    Comisión Evaluadora
                                </a>
                            </h4>
                        </div> End .panel-heading 
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <p style="text-align: justify">El Jurado es un cuerpo colegiado que tiene la responsabilidad de evaluar y seleccionar a las instituciones merecedoras de los galardones que se otorgan en el Premio Nacional a la Calidad y Reconocimiento a las Prácticas Promisorias en el sector público, para lo cual dispone de total autonomía en sus decisiones.</p>
                                <p style="text-align: justify">Está integrado por personas destacadas en el servicio público a la sociedad, las cuales actúan en representación de instituciones de carácter público y privado de la República Dominicana, tales como, organizaciones empresariales, académicas, de la sociedad civil y organismos públicos, incluidos los municipios.</p>
                                <p>
                                    El jurado será designado por la organización que represente.
                                </p>
                                </div> End .panel-body 
                        </div> End .panel-collapse 
                    </div> End .panel 
                </div> End .panel-group 
            </div>*@
        </div>
    </div>

</div>
