@model ProyectoCalidad.WebUI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reiniciar Contraseña";
}

<div class="container">


    <div class="row">
        <div class="col-xs-12">
            <div class="page-title-box">
                <h4 class="page-title">Reinicio de contraseña de usuario</h4>
                <ol class="breadcrumb p-0 m-0">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Inicio</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Premios")">Premio</a>
                    </li>
                    <li class="active">
                        Instituciones
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-box table-responsive panel panel-border panel-primary">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(x => x.Email)
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    <div class="form-group">
                        @Html.Label("Correo Electrónico", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Contraseña nueva", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Confirmar contraseña nueva", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Aceptar cambios" />
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
