@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ProyectoCalidad.Domain.Concrete
@using ProyectoCalidad.Domain.Entities
@model IEnumerable<ProyectoCalidad.Domain.Entities.EvaluadorPremio>

@{
    ViewBag.Title = "Evaluadores Sin Aginacion";
    var mensaje = ViewBag.mensaje;
    var TipoPremioID = ViewBag.premio;
}

@section Style{
    <!-- DataTables -->
    <link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/fixedHeader.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/scroller.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/dataTables.colVis.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/fixedColumns.dataTables.min.css" rel="stylesheet" type="text/css" />

    <!-- Plugins css-->
    <link href="~/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title">@ViewBag.Title</h4>
            <ol class="breadcrumb p-0 m-0">
                <li>
                    <a href="@Url.Action("Index", "Home")">Inicio</a>
                </li>
                <li>
                    <a href="@Url.Action("EvaluadoresSinAginacion", "Evaluador")">Evaluadores </a>
                </li>
                <li class="active">
                    Listado de Evaluadores
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-sm-6">
        @*<a href="javascript:window.history.back();" class="btn btn-default btn-bordered waves-effect waves-light m-l-10 m-b-20" data-animation="fadein" data-plugin="custommodal"
           data-overlaySpeed="200" data-overlayColor="#36404a"><i class="md md-add"></i>Aspirantes</a>
        <a href="javascript:window.history.back();" class="btn btn-default btn-bordered waves-effect waves-light m-l-10 m-b-20" data-animation="fadein" data-plugin="custommodal"
           data-overlaySpeed="200" data-overlayColor="#36404a"><i class="md md-add"></i>Evaluadores Asignados</a>*@
        <a href="javascript:window.history.back();" class="btn btn-default btn-bordered waves-effect waves-light m-l-10 m-b-20" data-animation="fadein" data-plugin="custommodal"
           data-overlaySpeed="200" data-overlayColor="#36404a"><i class="md md-add"></i>Regresar</a>
    </div><!-- end col -->
</div>
<!-- end row -->
<!-- TABLE CONTENT -->

<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
        

            <table id="datatable-buttons" class="table table-striped  table-colored table-info">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Evaluador</th>
                        <th>Estado</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>


                <tbody>

                    @{
                        var num = 0;

                    }

                    @foreach (var item in Model)
                    {
                        num++;
                        var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new EFDbContext()));
                        var usuario = userManager.FindById(item.UsuarioID);

                        var nombreCompleto = usuario.NombreCompleto(usuario.Nombre, usuario.Apellido);

                        var imagen = Path.GetFileName(usuario.Imagen);

                        <tr>
                            <td class="user-box">
                                @if (imagen != "Default.jpg")
                                {
                                    <a href="@Url.Action("Perfil", "Account", new {id = item.UsuarioID})" class="dropdown-toggle waves-effect waves-light user-link" data-toggle="dropdown" aria-expanded="true">
                                        <img src="@Url.Content("~/Usuarios/Imagenes/" + imagen)" alt="user-img" class="img-circle user-img">
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Perfil", "Account", new {id = item.UsuarioID})" class="dropdown-toggle waves-effect waves-light user-link" data-toggle="dropdown" aria-expanded="true">
                                        <img src="@Url.Content("~/Usuarios/Imagenes/" + imagen)" alt="user-img" class="img-circle user-img thumbnail">

                                    </a>
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => nombreCompleto)
                            </td>
                            @if (item.IsActive)
                            {
                                <td>
                                    Activo
                                </td>
                            }
                            else
                            {
                                <td>
                                    Suspendido
                                </td>
                            }

                            <td>
                                @Html.DisplayFor(modelItem => usuario.Role)
                            </td>
                            <td>

                                <a class="btn btn-primary" href="@Url.Action("Perfil", "Account", new {id = item.UsuarioID})"> <i class="mdi mdi-account"></i> Perfil</a>


                                @if (item.IsActive)
                                {
                                    <a href="@Url.Action("EditarEvaluador", "Evaluador", new {eID = item.EvaluadorPremioID})" class="btn btn-primary"> <i class="mdi mdi-plus"></i>Asignar</a>

                                }
                                


                            </td>
                        </tr>



                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- END -->
<!-- end row -->
@section scripts
{

    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap.js"></script>

    <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/plugins/datatables/jszip.min.js"></script>
    <script src="~/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="~/plugins/datatables/dataTables.scroller.min.js"></script>
    <script src="~/plugins/datatables/dataTables.colVis.js"></script>
    <script src="~/plugins/datatables/dataTables.fixedColumns.min.js"></script>

    <script src="~/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <script src="~/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script src="~/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
    <script src="~/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/plugins/sweetalert2.all.min.js"></script>
    <script src="~/plugins/autocomplete/jquery.mockjax.js"></script>
    <script src="~/plugins/autocomplete/jquery.autocomplete.min.js"></script>
    <script src="~/plugins/autocomplete/countries.js"></script>

    <!-- init -->
    <script src="~/Scripts/pages/jquery.datatables.init.js"></script>

    <script>

        //Activar/Desactivar Evaluador

        function fn(id, i) {
            console.log("varibale input: ", i.id);
            var $this = this.checked;
            $('#' + i.id).change(function () {
                $.ajax({
                    type: "POST",
                    url: "/Evaluador/InactivarEvaluador?id=" + id,
                    success: function (data) {
                        if (data === "True") {
                            $("#" + i.id).each(function () {
                                this.checked = true;
                                location.reload();
                            });
                        } else {
                            $("#" + i.id).each(function () {
                                this.checked = false;
                                location.reload();
                            });
                        }
                    }
                });
            });


        }




        //datatable
        $(document).ready(function () {

            //MENSAJES
            if ('@ViewBag.mensaje.tipo'.length > 0) {
                Swal.fire({
                    type: '@mensaje.tipo',
                    title: '@mensaje.mensaje',
                    html: '@mensaje.texto'
                });
            }

            //-->


            $('#datatable').dataTable({

            });

            $('#datatable-keytable').DataTable({ keys: true });
            $('#datatable-responsive').DataTable();
            $('#datatable-colvid').DataTable({
                "dom": 'C<"clear">lfrtip',
                "colVis": {
                    "buttonText": "Change columns"
                }
            });
            $('#datatable-scroller').DataTable({
                ajax: "~/plugins/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({ fixedHeader: true });
            var table = $('#datatable-fixed-col').DataTable({
                scrollY: "300px",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                fixedColumns: {
                    leftColumns: 1,
                    rightColumns: 1
                }
            });
        });
        TableManageButtons.init();

    </script>
}
