@model ProyectoCalidad.WebUI.Models.RoleViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Nuevo Rol</h2>

<div class="panel panel-primary panel-border">

    @*INICIO: Encabezado del formulario*@
    <div class="panel-heading">
        <h2 class="panel-title">Datos</h2>
    </div>

</div>
<div class="card-box table-responsive">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>RoleViewModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>



<a href="@Url.Action("Index", "Role")" class="btn btn-default">
    Regresar
</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
